In [233]:
from database.database import Session
from sqlalchemy import select, func
from database.models import Job_1, Job_2, Job_3
from sentence_transformers import SentenceTransformer
import asyncio
import numpy as np 
import pandas as pd

In [234]:
user_data = pd.read_csv("Dataset/User_data_final.csv")

In [235]:
user_data

,URL User,UserID,User Name,Industry,Desired Job,Workplace Desired,Desired Salary,Gender,Marriage,Age,Target,Skills,Degree,Work Experience
0,https://timviec365.vn/ung-vien/nguyen-quan-uv9...,964496,Nguyễn Quân,Vận tải - Lái xe,Nhân viên lái xe bằng B2,Hà Nội,Thỏa thuận,Nam,Đã có gia đình,36,Với kinh nghiệm 10 năm trong lĩnh vực lái xe t...,"- Bằng lái xe hạng C, D, E và có kinh nghiệm 5...",Đơn vị đào tạo: Trường trung cấp nghề,5-10 năm
1,https://timviec365.vn/ung-vien/nguyen-chau-uv9...,986206,Nguyễn Châu,Vận tải - Lái xe,Nhân viên lái xe bằng D,Bình Dương,Thỏa thuận,Nam,Đã có gia đình,44,Gắn bó lâu dài với công việc cũng như doanh ng...,Có chí tiến thủ đối với công việc Có khả năng ...,Đơn vị đào tạo: Trường trung cấp nghề,Trên 10 năm
2,https://timviec365.vn/ung-vien/la-thi-hoang-uv...,769632,LÃ THỊ HOÀNG,Hành chính - Văn phòng,"Nhân viên văn phòng, khu công nghiệp sử dụng t...",Bắc Giang,Thỏa thuận,Nữ,Độc thân,25,- Tìm kiếm một vị trí nhân viên hành chính và ...,- Am hiểu mọi quy trình về hành chính nhân sự ...,Mô tả công việc: CÔNG TY CỔ PHẦN DƯỢC PHẨM AN ...,1-3 năm
3,https://timviec365.vn/ung-vien/nguyen-van-bao-...,981314,Nguyễn Văn Bảo,Vận tải - Lái xe,Nhân viên lái xe hạng C,Hà Nội,Thỏa thuận,Nam,Đã có gia đình,33,Trở thành kỹ sư tốt trong công tác sửa chữa xe...,"Có khả năng chu toàn công việc, siêng năng, tỉ...",Đơn vị đào tạo: Trung tâm dạy nghề,5-10 năm
4,https://timviec365.vn/ung-vien/nguyen-thi-tu-u...,962892,Nguyễn Thị Tứ,Quản lý đơn hàng,Nhân viên thu mua,Hồ Chí Minh,Thỏa thuận,Nữ,Độc thân,24,"- Có một công việc có nhiều cơ hội thăng tiến,...","- Trung thực, cẩn thận, có óc sáng tạo - Kỹ...",Đơn vị đào tạo: Cao Đẳng Kinh Tế Kỹ Thuật Vina...,3-5 năm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,https://timviec365.vn/ung-vien/bui-nghia-uv997...,997433,Bùi Nghĩa,Vận tải - Lái xe,Nhân viên lái xe hạng B2,Hà Nội,Thỏa thuận,Nam,Đã có gia đình,35,"Trở thành nhân viên lái xe cho công ty, tôi mu...","- Tiếp thu tốt các kiến thức lái xe, - Có trí ...",Đơn vị đào tạo: Trường trung cấp nghề,1-3 năm
3979,https://timviec365.vn/ung-vien/tran-thanh-son-...,964381,Trần Thanh Sơn,Vận tải - Lái xe,Nhân viên Lái xe hạng C,Khánh Hòa,Thỏa thuận,Nam,Đã có gia đình,29,Gắn bó lâu dài với công việc cũng như doanh ng...,Có chí tiến thủ đối với công việc Có khả năng ...,Đơn vị đào tạo: Trung học,5-10 năm
3980,https://timviec365.vn/ung-vien/huynh-qui-uv969...,969486,Huỳnh Quí,Vận tải - Lái xe,Nhân viên lái xe bằng B2,Hồ Chí Minh,Thỏa thuận,Nam,Độc thân,20,Áp dụng những kiến thức về giao thông vận tải ...,"Khả năng chịu áp lực cao trong công việc, có t...",Đơn vị đào tạo: Trường trung cấp nghề,Dưới 1 năm
3981,https://timviec365.vn/ung-vien/pham-van-truong...,978744,Phạm Văn Trường,Vận tải - Lái xe,Nhân viên lái xe - Bằng Lái Xe Hạng D,Quảng Ninh,Thỏa thuận,Nam,Đã có gia đình,34,"Đáp ứng tốt các công việc của công ty, giữ gìn...","Giao tiếp tốt, thân thiện, cởi mở với mọi ngườ...",Đơn vị đào tạo: Tốt nghiệp THPT,Trên 10 năm
3982,https://timviec365.vn/ung-vien/do-anh-hao-uv99...,990765,Đỗ Anh Hào,Vận tải - Lái xe,Nhân viên lái xe bằng B2,Hồ Chí Minh,Thỏa thuận,Nam,Đã có gia đình,28,Với trong quá trình kinh nghiệm làm việc 3 năm...,Có những kỹ năng chuyên sâu trong vấn đề chuyể...,Đơn vị đào tạo: Trường trung cấp nghề,5-10 năm

# Helper Function|

## Khuyến nghị việc làm dựa trên kĩ năng:

In [236]:
async def get_recommendations_based_skill(model, model_name: str, skill: str): 
    # Tính toán embedding cho kỹ năng
    embedding_input = model.encode(skill).tolist()  # Convert tensor/array to list for database compatibility
    
    # Chọn bảng phù hợp dựa trên model_name
    if model_name == "sbert":
        target_table = Job_1
    elif model_name == "phobert":
        target_table = Job_2
    elif model_name == "xlm_roberta":
        target_table = Job_3
    else:
        raise ValueError("Invalid model_name. Supported values are 'sbert', 'phobert' and 'xlm_roberta'.")

    async with Session() as session:
        query = (
            select(
                target_table, 
                target_table.job_skill_vector.cosine_distance(embedding_input).label("distance")
            )
            .where(
                target_table.job_skill != None,
                func.trim(func.regexp_replace(target_table.job_skill, r"[\n\r\u2028]+", "", "g")) != ""
            )
            .order_by("distance")  # Sắp xếp theo khoảng cách cosine
            .limit(20)
        )

        result = await session.execute(query)
        job_results = result.fetchall()

        # Tách job và distance từ kết quả
        jobs = [row[0] for row in job_results]  # `Job_1` or `Job_2` objects
        distances = [row[1] for row in job_results]  # `distance` values
        
        return jobs, distances

## Khuyến nghị việc làm dự trên địa điểm làm việc

In [237]:
async def get_recommendations_based_location(model, model_name: str, location: str):
    # Tính toán embedding cho kỹ năng
    embedding_input = model.encode(location).tolist()  # Convert tensor/array to list for database compatibility

    if model_name == "sbert":
        target_table = Job_1
    elif model_name == "phobert":
        target_table = Job_2
    elif model_name == "xlm_roberta":
        target_table = Job_3
    else:
        raise ValueError("Invalid model_name. Supported values are 'sbert', 'phobert' and 'xlm_roberta'.")
    

    async with Session() as session:
        query = (
            select(target_table,  target_table.job_address_vector.cosine_distance(embedding_input).label("distance"))
            .where(
                target_table.job_address != None,
                func.trim(func.regexp_replace(target_table.job_address, r"[\n\r\u2028]+", "", "g")) != ""
            )
            .order_by("distance")  # Sắp xếp theo khoảng cách cosine
            .limit(20)
        )

        result = await session.execute(query)
        job_results = result.fetchall()

        # Tách job và distance từ kết quả
        jobs = [row[0] for row in job_results]  
        distances = [row[1] for row in job_results]  
        
        return jobs, distances

## Khuyến nghị việc làm dựa trên công việc mơ ước

In [238]:
async def get_recommendations_based_job_title(model, model_name: str, job_title: str):
    # Tính toán embedding cho kỹ năng
    embedding_input = model.encode(job_title).tolist()  # Convert tensor/array to list for database compatibility

    if model_name == "sbert":
        target_table = Job_1
    elif model_name == "phobert":
        target_table = Job_2
    elif model_name == "xlm_roberta":
        target_table = Job_3
    else:
        raise ValueError("Invalid model_name. Supported values are 'sbert', 'phobert' and 'xlm_roberta'.")
    
    async with Session() as session:
        query = (
            select(target_table,  target_table.job_title_vector.cosine_distance(embedding_input).label("distance"))
            .where(
                target_table.job_title != None,
                func.trim(func.regexp_replace(target_table.job_title, r"[\n\r\u2028]+", "", "g")) != ""
            )
            .order_by("distance")  # Sắp xếp theo khoảng cách cosine
            .limit(20)
        )

        result = await session.execute(query)
        job_results = result.fetchall()

        # Tách job và distance từ kết quả
        jobs = [row[0] for row in job_results]  
        distances = [row[1] for row in job_results]  
        
        return jobs, distances

## Khuyến nghị việc làm dựa trên ngành nghề

In [239]:
async def get_recommendations_based_industry(model, model_name: str, industry: str):
    # Tính toán embedding cho kỹ năng
    embedding_input = model.encode(industry).tolist()  # Convert tensor/array to list for database compatibility

    if model_name == "sbert":
        target_table = Job_1
    elif model_name == "phobert":
        target_table = Job_2
    elif model_name == "xlm_roberta":
        target_table = Job_3
    else:
        raise ValueError("Invalid model_name. Supported values are 'sbert', 'phobert' and 'xlm_roberta'.")
    
    async with Session() as session:
        query = (
            select(target_table,  target_table.industry_vector.cosine_distance(embedding_input).label("distance"))
            .where(
                target_table.industry != None,
                func.trim(func.regexp_replace(target_table.industry, r"[\n\r\u2028]+", "", "g")) != ""
            )
            .order_by("distance")  # Sắp xếp theo khoảng cách cosine
            .limit(20)
        )

        result = await session.execute(query)
        job_results = result.fetchall()

        # Tách job và distance từ kết quả
        jobs = [row[0] for row in job_results]  
        distances = [row[1] for row in job_results]  
        
        return jobs, distances

## Khuyến nghị dựa trên cả 4 yếu tố:

In [240]:
async def get_recommendations_based_combined(model, model_name: str, industry: str, job_title: str, job_skill: str, job_address: str):
    # Tính toán embedding cho kỹ năng
    industry_input = model.encode(industry).tolist()  # Convert tensor/array to list for database compatibility
    job_title_input = model.encode(job_title).tolist()
    job_skill_input = model.encode(job_skill).tolist()
    job_address_input = model.encode(job_address).tolist()

    if model_name == "sbert":
        target_table = Job_1
    elif model_name == "phobert":
        target_table = Job_2
    elif model_name == "xlm_roberta":
        target_table = Job_3
    else:
        raise ValueError("Invalid model_name. Supported values are 'sbert', 'phobert' and 'xlm_roberta'.")

    async with Session() as session:
        query = (
            select(target_table,  
                   target_table.job_title_vector.cosine_distance(job_title_input).label("job_title_distance"),
                   target_table.industry_vector.cosine_distance(industry_input).label("industry_distance"),
                   target_table.job_skill_vector.cosine_distance(job_skill_input).label("job_skill_distance"),
                   target_table.job_address_vector.cosine_distance(job_address_input).label("job_address_distance")
            )
            .where(
                target_table.industry != None,
                target_table.job_title != None,
                target_table.job_skill != None,
                target_table.job_address != None,
                func.trim(func.regexp_replace(target_table.industry, r"[\n\r\u2028]+", "", "g")) != "",
                func.trim(func.regexp_replace(target_table.job_title, r"[\n\r\u2028]+", "", "g")) != "",
                func.trim(func.regexp_replace(target_table.job_skill, r"[\n\r\u2028]+", "", "g")) != "",
                func.trim(func.regexp_replace(target_table.job_address, r"[\n\r\u2028]+", "", "g")) != "",
            )
            .order_by("job_title_distance", "industry_distance",  "job_skill_distance", "job_address_distance")  # Sắp xếp theo khoảng cách cosine
            .limit(20)
        )

        result = await session.execute(query)
        job_results = result.fetchall()

        # Tách job và distance từ kết quả
        jobs = [row[0] for row in job_results]  # `Job_1` objects
        industry_distances = [row[1] for row in job_results]  # `distance` values
        job_title_distances = [row[2] for row in job_results]
        job_skill_distances = [row[3] for row in job_results]
        job_address_distances = [row[4] for row in job_results]
        
        return jobs, industry_distances, job_title_distances, job_skill_distances, job_address_distances

In [241]:
async def Get_multi_recommendations(df, model, model_name: str, method: str):
    """
    Mở rộng thông tin gợi ý công việc với khoảng cách cho mỗi người trong DataFrame.
    Dựa trên phương thức ('industry' hoặc 'skill'), sẽ gọi hàm thích hợp.

    Args:
        df (pd.DataFrame): DataFrame chứa thông tin người dùng.
        model: Mô hình để tính toán embedding ngành nghề hoặc kỹ năng.
        model_name (str): Tên của mô hình (e.g., "sbert", "phobert").
        method (str): Phương thức gọi hàm (có thể là 'industry' hoặc 'skill').

    Returns:
        pd.DataFrame: DataFrame mở rộng với các công việc gợi ý và khoảng cách cho từng người.
    """
    # Giới hạn dataframe chỉ lấy 10 người đầu tiên
    df = df.sample(n=10, random_state=42)

    # Danh sách kết quả mở rộng
    expanded_results = []

    # Duyệt qua từng người dùng trong dataframe
    for _, row in df.iterrows():
        # Lấy thông tin ngành nghề
        
        try:
            # Gọi hàm gợi ý công việc dựa trên phương thức (industry hoặc skill)
            if method == "industry":
                jobs, distances = await get_recommendations_based_industry(model, model_name, row["Industry"])
            elif method == "skill":
                jobs, distances = await get_recommendations_based_skill(model, model_name, row["Skills"])
            elif method == "location":
                jobs, distances = await get_recommendations_based_location(model, model_name, row["Workplace Desired"])
            elif method == "job title":
                jobs, distances = await get_recommendations_based_job_title(model, model_name, row["Desired Job"])
            elif method == "combined":
                jobs, distances, job_title_distances, job_skill_distances, job_address_distances = await get_recommendations_based_combined(model, model_name, row["Industry"], row["Desired Job"], row["Skills"], row["Workplace Desired"])
            else:
                raise ValueError("Method must be either 'industry' or 'skill'.")

            # Tạo một dòng riêng biệt cho mỗi công việc gợi ý
            for job, distance in zip(jobs, distances):
                expanded_results.append({
                    "User ID": row.get("UserID", None),
                    "User Name": row.get("User Name", None),
                    "Industry": row.get("Industry", None),
                    "Age": row.get("Age", None),
                    "Job Title Recommended": job.job_title,
                    "Company Name": job.company_name,
                    "Industry Recommended": job.industry,
                    "Skills Recommended": job.job_skill,
                    "Address Recommended": job.job_address,
                    "Job Requierements": job.job_requirements,
                    "Job Description": job.job_description,
                    "Job Salary": job.salary,
                    "Job Years of Experience": job.years_of_experience,
                    "Distance": distance
                })
        except Exception as e:
            print(e)

    # Chuyển kết quả mở rộng thành dataframe
    expanded_df = pd.DataFrame(expanded_results)
    return expanded_df

# Models

## sBERT

In [242]:
model = SentenceTransformer("keepitreal/vietnamese-sbert")

In [243]:
skill_recommendation_results = await Get_multi_recommendations(user_data, model, "sbert", "skill")
skill_recommendation_results

2024-12-16 01:27:41,650 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:41,655 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:41,657 INFO sqlalchemy.engine.Engine [cached since 7549s ago] ('[0.03798454627394676,0.3454383909702301,0.017232272773981094,0.015160647220909595,0.2480212152004242,0.8499230146408081,0.041743144392967224,-0.11242 ... (15206 characters truncated) ... 89899445,0.05216211825609207,0.0629284605383873,0.1142788752913475,-0.2338709682226181,0.07571783661842346,-0.16125649213790894,-0.29363563656806946]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:52,539 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:52,714 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:52,714 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:52,714 INFO sqlalchemy.engine.Engine [cached since 7560s ago] ('[0.09526557475328445,-0.13525652885437012,0.21330103278160095,-0.10004916787147522,0.14993898570537567,0.283748060464859,-0.22845320403575897,0.13399 ... (15238 characters truncated) ... 015831,0.011488337069749832,0.023823469877243042,0.15221697092056274,-0.12479136139154434,0.4933273196220398,0.02759261056780815,-0.0977001041173935]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:53,031 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:53,229 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:53,234 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:53,236 INFO sqlalchemy.engine.Engine [cached since 7561s ago] ('[-0.19643814861774445,0.2980537712574005,0.20423415303230286,-0.030217930674552917,0.18185660243034363,0.3654329180717468,0.2678582966327667,-0.21758 ... (15250 characters truncated) ... 2745,0.10386092960834503,0.24144473671913147,0.24204862117767334,-0.26865068078041077,0.14390404522418976,-0.08829928189516068,-0.027714261785149574]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:53,544 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:53,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:53,680 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:53,682 INFO sqlalchemy.engine.Engine [cached since 7561s ago] ('[0.09526557475328445,-0.13525652885437012,0.21330103278160095,-0.10004916787147522,0.14993898570537567,0.283748060464859,-0.22845320403575897,0.13399 ... (15238 characters truncated) ... 015831,0.011488337069749832,0.023823469877243042,0.15221697092056274,-0.12479136139154434,0.4933273196220398,0.02759261056780815,-0.0977001041173935]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:53,908 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:54,099 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:54,099 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:54,099 INFO sqlalchemy.engine.Engine [cached since 7562s ago] ('[-0.19643814861774445,0.2980537712574005,0.20423415303230286,-0.030217930674552917,0.18185660243034363,0.3654329180717468,0.2678582966327667,-0.21758 ... (15250 characters truncated) ... 2745,0.10386092960834503,0.24144473671913147,0.24204862117767334,-0.26865068078041077,0.14390404522418976,-0.08829928189516068,-0.027714261785149574]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:54,344 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:54,520 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:54,520 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:54,520 INFO sqlalchemy.engine.Engine [cached since 7562s ago] ('[-0.04942380264401436,0.3918602168560028,-0.041818343102931976,0.00217813509516418,-0.19388940930366516,0.6438177227973938,-0.38283413648605347,0.174 ... (15245 characters truncated) ... 74625,-0.04513118043541908,0.42480984330177307,0.07845355570316315,-0.22938062250614166,0.3362487554550171,-0.22315269708633423,-0.08008366823196411]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:54,771 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:54,944 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:54,948 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:54,950 INFO sqlalchemy.engine.Engine [cached since 7563s ago] ('[0.07440423220396042,0.28361138701438904,0.2058718055486679,-0.06669442355632782,0.01913972571492195,0.6741368174552917,0.14248870313167572,-0.148084 ... (15149 characters truncated) ... 4308548,0.2874163091182709,0.19023793935775757,0.2561756670475006,-0.11915542185306549,0.16185010969638824,-0.10194064676761627,-0.07057268917560577]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:55,228 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:55,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:55,402 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:55,404 INFO sqlalchemy.engine.Engine [cached since 7563s ago] ('[0.01642141491174698,0.20067919790744781,0.21094761788845062,0.08855760842561722,-0.15272881090641022,0.2782772183418274,-0.17589399218559265,-0.0045 ... (15247 characters truncated) ... 9513092,0.2522013783454895,0.5864178538322449,-0.0930299162864685,-0.21984991431236267,0.42382150888442993,-0.052645280957221985,-0.4048748314380646]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:55,679 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:55,860 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:55,862 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:55,864 INFO sqlalchemy.engine.Engine [cached since 7563s ago] ('[-0.05764896422624588,0.1497434824705124,0.27359312772750854,-0.03149545565247536,0.1433842033147812,0.2459620088338852,-0.03783649578690529,0.119890 ... (15236 characters truncated) ... 0769844,0.06049593910574913,0.21022871136665344,0.4486220180988312,-0.04623247683048248,0.09358066320419312,-0.10235387831926346,0.10989005118608475]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:56,131 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:56,317 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:56,320 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_skill_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_skill IS NOT NULL AND trim(regexp_replace(jobs_1.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:56,320 INFO sqlalchemy.engine.Engine [cached since 7564s ago] ('[0.010771532543003559,0.1671876758337021,0.195675790309906,-0.1862444430589676,0.37483736872673035,0.3736408054828644,0.2168532907962799,0.0206543598 ... (15220 characters truncated) ... 35495,0.20458538830280304,-0.19159066677093506,-0.04314708709716797,-0.19041065871715546,0.28436288237571716,-0.09416013211011887,0.4675229787826538]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:56,567 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Phiên Dịch Tiếng Nhật,Công Ty TNHH YKK Việt Nam,Dệt may/May mặc/Giày dép,"Kỹ năng giao tiêp, Kỹ năng Tin học văn phòng, ...","KCN Đồng Văn 3, Phường Hoàng Đông, Thị xã Duy ...",1. Bằng cấp: Tốt nghiệp Cao đẳng trở lên (chuy...,"MÔ TẢ CÔNG VIỆC. Làm các thủ tục, giấy tờ cho ...",Thương lượng,1-3 năm,0.312839
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Nhóm Sự Kiện,Hệ thống Giáo Dục Edufit,Giáo dục/Đào Tạo,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Kỹ năng ...","lô PT-01, KĐT Vinhomes Ocean Park, Đa Tốn, Gia...",Tốt nghiệp đại học trở lên. Khả năng sử dụng t...,Tổ chức/Thực hiện/Giám sát/Quản lý công việc S...,"Trên 40,000,000",1-3 năm,0.355655
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Đào Tạo,Công Ty Vàng Bạc Đá Quý Bảo Tín Minh Châu,Bán lẻ/Bán sỉ,"Kỹ năng giao tiếp, Kỹ năng lập kế hoạch, Soạn ...",139 Cầu Giấy,"Giới tính: Nam và Nữ, độ tuổi từ 35 – 45 tuổi;...",I. MÔ TẢ CÔNG VIỆC:. Phụ trách tổ chức vận hàn...,"20,000,000 - 40,000,000",3-5 năm,0.365367
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Nhóm Chất Lượng (QA),Alphanam Group,Kỹ thuật xây dựng/Cơ sở hạ tầng,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Kỹ năng ...","108 Nguyễn Trãi, Thượng Đình, Thanh Xuân, Hà N...",Tốt nghiệp Đại học trở lên các chuyên ngành: Q...,* Xây dựng hệ thống văn bản chất lượng (Quy tr...,Thương lượng,5-10 năm,0.414016
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Bộ phận Mua Hàng,Công Ty Cổ Phần Ánh Dương Building (ADB),Vật liệu xây dựng,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Làm việc...","Cao ốc An Khang Building, Số 28, Đường số 19, ...",2. Yêu cầu tuyển dụng:. 2.1. Trình độ:. Nam/nữ...,1. Trách nhiệm công việc:. Xây dựng kế hoạch m...,"Trên 40,000,000",3-5 năm,0.420976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Kế Toán Tổng Hợp,Cty TNHH Quốc Tế Anh Duy,Nhập khẩu/Xuất khẩu,"Lập Báo Cáo Tài Chính, Kế Toán Tổng Hợp, Phần ...","170 Ung Văn Khiêm, Phường 25, Bình Thạnh, Thàn...",Yêu cầu: Nữ; Tốt nghiệp Đại Học/Cao đẳng. Thàn...,Kiểm tra đối chiếu số liệu giữa các đơn vị nội...,Thương lượng,1-3 năm,0.458464
196,973260,Lê Thanh,Vận tải - Lái xe,24,Quản Lý Điều Hành Doanh Nghiệp (Operations Man...,CÔNG TY TNHH SMART OUTSOURCING,Kế toán/Kiểm toán,"Lập Kế Hoạch Tài Chính, MBA, Quản Lý Điều Hành...","Tầng 9, Tòa văn phòng C1 Thành Công, phường Th...",III. YÊU CẦU. Tốt nghiệp trình độ Đại họ...,I . KẾT QUẢ CÔNG VIỆC CẦN ĐẠT. Giám sát và quả...,"15,000,000 - 20,000,000",1-3 năm,0.459906
197,973260,Lê Thanh,Vận tải - Lái xe,24,Kế Toán Nội Bộ,Công Ty Cổ Phần Vận Tải Biển Container Thái Bì...,Hậu cần/Giao nhận,"Kế Toán, Kế Toán Nội Bộ, Báo Cáo Tài Chính, Ph...","Tầng 15 tòa nhà Hòa Bình, 106 Hoàng Quốc Việt,...",YÊU CẦU CÔNG VIỆC:. + Tốt nghiệp ĐH chuyên ngà...,MÔ TẢ CÔNG VIỆC:. Nhập dữ liệu định khoản lên ...,"10,000,000 - 15,000,000",3-5 năm,0.460947
198,973260,Lê Thanh,Vận tải - Lái xe,24,Xưởng Trưởng Bảo Dưỡng Sửa Chữa Ô Tô - Hồ Chí ...,Công Ty TNHH Dịch Vụ Vận Tải Sinh Thái Vinbus,Ô tô,"Quản Trị Nhân Sự, Sửa Chữa Bảo Dưỡng, Điều Hàn...","KĐT Vinhomes Grand Park, Số 10 đường T10 phân ...","Bằng cấp chuyên môn. Tốt nghiệp Đại học, Cao đ...","Chịu trách nhiệm toàn bộ về công tác tổ chức, ...","Trên 40,000,000",3-5 năm,0.463100
199,973260,Lê Thanh,Vận tải - Lái xe,24,Kế Toán Trưởng Tập Đoàn (Chăm sóc sức khỏe/Phò...,Công Ty Cổ Phần Tập Đoàn Sengroup,Dịch vụ Y tế/Chăm sóc sức khỏe,"Kế Toán, Kiểm Toán, Làm Việc Nhóm, Phần mềm kế...","11 Nguyễn Công Trứ, P.Nguyễn Thái Bình, Q.1",1. Tốt nghiệp Đại học trở lên chuyên ngành Tài...,"I. NHIỆM VỤ CHÍNH. 1. Điều hành, quản trị toàn...","20,000,000 - 40,000,000",5-10 năm,0.464201

In [244]:
address_recommendation_results = await Get_multi_recommendations(user_data, model, "sbert", "location")
address_recommendation_results

2024-12-16 01:27:56,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:56,759 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:56,761 INFO sqlalchemy.engine.Engine [cached since 5925s ago] ('[-0.2742690145969391,0.4564611315727234,-0.6578325629234314,-0.35101208090782166,-0.26071643829345703,-0.12473781406879425,0.3879827558994293,-0.0008 ... (15131 characters truncated) ... 74810028076,-0.0841967910528183,-0.2372806817293167,0.4111827313899994,-0.2515645921230316,-0.33252012729644775,0.473588228225708,0.3109177052974701]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:57,598 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:57,680 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:57,684 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:57,684 INFO sqlalchemy.engine.Engine [cached since 5926s ago] ('[-0.416450172662735,0.239356130361557,0.17215093970298767,-0.5895354747772217,-0.20105060935020447,0.18224848806858063,0.03198482096195221,-0.3669221 ... (15164 characters truncated) ... 33591747,-0.552862286567688,-0.12606124579906464,0.3157983422279358,0.19006548821926117,0.15443766117095947,0.025427913293242455,-0.6923545598983765]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:57,982 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:58,062 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:58,067 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:58,067 INFO sqlalchemy.engine.Engine [cached since 5926s ago] ('[0.09062754362821579,-0.12519283592700958,-0.5201442241668701,-0.587961733341217,-0.16220779716968536,-0.1724303513765335,0.035952359437942505,-0.306 ... (15177 characters truncated) ... 50159836,-0.6591829657554626,-0.4301143288612366,0.30607470870018005,0.31452783942222595,0.22270074486732483,0.14461128413677216,-0.3292781710624695]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:58,384 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:58,482 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:58,487 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:58,489 INFO sqlalchemy.engine.Engine [cached since 5927s ago] ('[-0.416450172662735,0.239356130361557,0.17215093970298767,-0.5895354747772217,-0.20105060935020447,0.18224848806858063,0.03198482096195221,-0.3669221 ... (15164 characters truncated) ... 33591747,-0.552862286567688,-0.12606124579906464,0.3157983422279358,0.19006548821926117,0.15443766117095947,0.025427913293242455,-0.6923545598983765]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:58,787 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:58,868 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:58,871 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:58,873 INFO sqlalchemy.engine.Engine [cached since 5927s ago] ('[0.09062754362821579,-0.12519283592700958,-0.5201442241668701,-0.587961733341217,-0.16220779716968536,-0.1724303513765335,0.035952359437942505,-0.306 ... (15177 characters truncated) ... 50159836,-0.6591829657554626,-0.4301143288612366,0.30607470870018005,0.31452783942222595,0.22270074486732483,0.14461128413677216,-0.3292781710624695]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:59,207 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:59,345 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:59,347 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:59,348 INFO sqlalchemy.engine.Engine [cached since 5928s ago] ('[0.348868727684021,-0.01618637703359127,-0.35470280051231384,-0.3196323812007904,0.10523217916488647,0.05258374288678169,-0.028705498203635216,-0.330 ... (15118 characters truncated) ... 74698,-0.44214674830436707,-0.40841904282569885,0.00980186928063631,-0.012220618315041065,0.3453228771686554,0.5341395139694214,0.002831320045515895]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:27:59,639 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:27:59,717 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:27:59,721 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:27:59,723 INFO sqlalchemy.engine.Engine [cached since 5928s ago] ('[-0.29945605993270874,0.36797860264778137,-0.34409767389297485,-0.22962284088134766,-0.4178851544857025,-0.2354981005191803,-0.17183193564414978,-0.0 ... (15151 characters truncated) ... 3132247925,0.04940395802259445,-0.04047403484582901,-0.4383337199687958,0.2101312279701233,0.3079063892364502,0.1111745834350586,-0.4142334461212158]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:00,034 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:00,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:00,143 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:00,144 INFO sqlalchemy.engine.Engine [cached since 5928s ago] ('[-0.416450172662735,0.239356130361557,0.17215093970298767,-0.5895354747772217,-0.20105060935020447,0.18224848806858063,0.03198482096195221,-0.3669221 ... (15164 characters truncated) ... 33591747,-0.552862286567688,-0.12606124579906464,0.3157983422279358,0.19006548821926117,0.15443766117095947,0.025427913293242455,-0.6923545598983765]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:00,416 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:00,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:00,505 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:00,507 INFO sqlalchemy.engine.Engine [cached since 5929s ago] ('[0.19861775636672974,-0.31517255306243896,-0.3440423607826233,-0.461500346660614,-0.0672914981842041,-0.19727462530136108,0.2642397880554199,-0.82010 ... (15120 characters truncated) ... 09546,-0.45106810331344604,0.08985767513513565,-0.27228647470474243,0.5436328649520874,-0.10765909403562546,-0.06589113175868988,-0.5825356841087341]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:00,825 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:00,925 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:00,927 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_address_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:00,929 INFO sqlalchemy.engine.Engine [cached since 5929s ago] ('[-0.416450172662735,0.239356130361557,0.17215093970298767,-0.5895354747772217,-0.20105060935020447,0.18224848806858063,0.03198482096195221,-0.3669221 ... (15164 characters truncated) ... 33591747,-0.552862286567688,-0.12606124579906464,0.3157983422279358,0.19006548821926117,0.15443766117095947,0.025427913293242455,-0.6923545598983765]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:01,230 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Phó Quản Lý Chi Nhánh Thẩm Mỹ,Công Ty TNHH Dược Mỹ Phẩm H-Derma,Sản xuất/Vận hành sản xuất,"Mỹ Phẩm, Giám Sát Bán Hàng, Quản Lý Điều Hành",Khánh Hòa,Tối thiểu trên 01 năm kinh nghiệm làm vị trí t...,"Xây dựng, tổ chức, vận hành giám sát công việc...","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.000000
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Phụ Trách Kinh Doanh,Công Ty TNHH Thép Tân Thắng Lợi,Kinh doanh,"Tư Vấn Bán Hàng, Phát Triển Thị Trường",Khánh Hòa,Tốt nghiệp cao đẳng trở lên chuyên ngành Thươn...,"Xây dựng, tìm các đối tác khách hàngBáo giá kh...","15,000,000 - 20,000,000",Không yêu cầu kinh nghiệm,0.000000
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Vận Hành Dịch Vụ,Công Ty Cổ Phần Phần Dịch Vụ Bạn Uống Tôi Lái,Kinh doanh,"Quản Trị Hệ Thống, Hành chính Văn phòng","|,Khánh Hòa","Yêu cầu ứng viên:Tốt nghiệp trung cấp, cao đẳn...",Chủ động liên hệ với khách hàng để giải quyết ...,"5,000,000 - 10,000,000",Không yêu cầu kinh nghiệm,0.144465
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Bán Hàng Vùng Kênh Truyền Thống - Area ...,Công Ty Cổ Phần Sữa Việt Nam (Vinamilk),Hàng tiêu dùng,"Direct Sales, General Trade","Khánh Hòa, Vietnam",HỌC VẤN & CHUYÊN NGÀNH:. Tốt nghiệp đại học. Ư...,KHU VỰC PHỤ TRÁCH: Các tỉnh từ Khánh Hòa vào đ...,Thương lượng,5-10 năm,0.201885
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,New Product Introduction Engineer - NPI Engineer,Onsemi Viet Nam,Sản xuất,"Electronics, New Product Qualification, Lean S...",Biên Hòa,"Qualifications. BS/MS in Electrical, Mechanica...",Job Description. Introduces and maintains asse...,Thương lượng,Không yêu cầu kinh nghiệm,0.260227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Kỹ Thuật IT Sửa PC Laptop Máy In,Công Ty TNHH Phát Triển Công Nghệ Trường Thịnh...,"Công nghệ thông tin, Quảng cáo/Marketing/PR","IT Helpdesk, IT Support",Hồ Chí Minh,Có Ít nhất > 1 năm KN làm chuyên viên kỹ thuật...,"Mua bán sửa chữa máy tính bàn pc, laptop, máy ...","5,000,000 - 10,000,000",1-3 năm,0.000000
196,973260,Lê Thanh,Vận tải - Lái xe,24,- Nhân Viên Phụ Bếp Part Time,Công ty Cổ phần Đầu tư Thương mại Quốc tế Mặt ...,Thực phẩm/DV ăn uống,"Phụ Bếp, Chế Biến Thực Phẩm, Tư Vấn Bán Hàng",Hồ Chí Minh,Yêu Cầu Công ViệcLàm việc tại: Nhà hàng Hotpot...,Thực hiện sơ chế các nguyên vật liệu dùng đ...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.000000
197,973260,Lê Thanh,Vận tải - Lái xe,24,Quản Lý Kinh Doanh Thu Nhập Từ 20TR,Công Ty TNHH Bảo Hiểm Nhân Thọ Cathay - Việt Nam,bảo hiểm,"Chăm Sóc Khách Hàng, Tư Vấn Bán Hàng, Tư Vấn B...",Hồ Chí Minh,Tốt nghiệp trung cấp trở lên trên 26 tuổi. Đã ...,"Quản lý, đào tạo nhân viên, hỗ trợ tuyển dụng....","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.000000
198,973260,Lê Thanh,Vận tải - Lái xe,24,Store Manager - Cửa Hàng Trưởng,Công ty TNHH Manpower Việt Nam - Hồ Chí Minh,Nhân Sự,"Quản Lý Điều Hành, Giám Sát Bán Hàng, Bán Lẻ",Hồ Chí Minh,At least 1 year of experience in fashion retai...,Stock & Sales Management:. Ensure effective re...,"20,000,000 - 40,000,000",1-3 năm,0.000000
199,973260,Lê Thanh,Vận tải - Lái xe,24,Chuyên Viên Hr Admin,Công Ty Cổ Phần Trà Vinh Gc,Bất động sản,"Hành chính Văn phòng, Tuyển Dụng (HR)",Hồ Chí Minh,1. Trình độ học vấn:Tốt nghiệp Cao Đẳng trở lê...,1. Quản lý hồ sơ nhân sự:Lưu trữ và quản lý hồ...,"15,000,000 - 20,000,000",1-3 năm,0.000000

In [245]:
industry_recommendation_results = await Get_multi_recommendations(user_data, model, "sbert", "industry")
industry_recommendation_results

2024-12-16 01:28:01,419 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:01,425 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:01,427 INFO sqlalchemy.engine.Engine [cached since 2204s ago] ('[0.44310906529426575,0.04457218572497368,-0.14286266267299652,-0.24837009608745575,-0.1243777871131897,-0.26507705450057983,-0.1482895314693451,-0.58 ... (15119 characters truncated) ... 53994751,-0.044133011251688004,0.118479885160923,0.5872492790222168,-0.01974065788090229,0.13898780941963196,-0.2551933825016022,-0.2521238327026367]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:02,774 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:02,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:02,866 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:02,867 INFO sqlalchemy.engine.Engine [cached since 2205s ago] ('[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:03,055 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:03,135 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:03,137 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:03,139 INFO sqlalchemy.engine.Engine [cached since 2206s ago] ('[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:03,343 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:03,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:03,438 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:03,439 INFO sqlalchemy.engine.Engine [cached since 2206s ago] ('[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:03,647 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:03,730 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:03,732 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:03,733 INFO sqlalchemy.engine.Engine [cached since 2206s ago] ('[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:03,910 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:04,024 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:04,026 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:04,028 INFO sqlalchemy.engine.Engine [cached since 2207s ago] ('[0.5140445828437805,0.24496085941791534,-0.15972475707530975,-0.8997016549110413,0.17436553537845612,-0.1788308173418045,-0.40518394112586975,-0.0829 ... (15108 characters truncated) ... 6220703,-0.16562020778656006,-0.14201246201992035,0.7107160687446594,0.16929475963115692,0.14157246053218842,-0.0791545882821083,-0.5311183929443359]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:04,198 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:04,272 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:04,275 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:04,276 INFO sqlalchemy.engine.Engine [cached since 2207s ago] ('[0.48753732442855835,0.06670942902565002,-0.2092820107936859,-0.3641042709350586,-0.10241846740245819,0.5295997858047485,-0.741936981678009,0.0654077 ... (15199 characters truncated) ... 549,0.05024471879005432,0.027437051758170128,0.43483442068099976,-0.07847942411899567,-0.27087825536727905,-0.10797686874866486,-0.32217520475387573]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:04,450 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:04,534 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:04,537 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:04,538 INFO sqlalchemy.engine.Engine [cached since 2207s ago] ('[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:04,713 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:04,794 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:04,796 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:04,798 INFO sqlalchemy.engine.Engine [cached since 2207s ago] ('[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:04,975 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:05,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:05,072 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.industry_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:05,073 INFO sqlalchemy.engine.Engine [cached since 2208s ago] ('[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:05,241 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Digital Marketing Hỗ Trợ Vận Hành Sà...,Công Ty Cổ Phần Thương Mại Thiết Bị Văn Phòng ...,Trang thiết bị văn phòng,"Social Marketing, Digital Marketing, Truyền Th...","43 Linh Đông, Khu Phố 7, P. Linh Đông, Tp Thủ Đức","Tốt nghiệp Cao đẳng chuyên ngành Marketing, bá...","Lập kế hoạch, phối hợp tổ chức và triển khai c...",Thỏa thuận,1-3 năm,0.430879
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Tư Vấn Văn Phòng (Thu Nhập Đến 20 Tr...,Công Ty TNHH Một Thành Viên Đức Lan,Trang thiết bị văn phòng,"Tư Vấn Doanh Nghiệp (B2B), Tư Vấn Bán Hàng, Bá...","số 149 Võ Văn Tần, Võ Thị Sáu, Quận 3, Hồ Chí ...","Nữ, Tốt nghiệp trung cấp trở lênƯu tiên có kin...","Công ty chuyên phân phối và cung cấp Máy, Mực,...","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.430879
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Phó Bộ Phận QC,Công Ty Cổ Phần Văn Phòng Phẩm Hải Phòng,Trang thiết bị văn phòng,"Quản Lý Chất Lượng (QA/QC), Quản Lý Sản Xuất",Tổ 1 – KDC Phương Lung – Đường Mạc Đăng Doanh ...,Nam/Nữ từ 25 40 tuổi;. Tốt nghiệp Đại học các ...,"Quản lý, phân công công việc cho nhân viên;. K...",Thỏa thuận,1-3 năm,0.430879
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Kinh Doanh (Thu Nhập Đến 20 Triệu),Công Ty TNHH Một Thành Viên Đức Lan,Trang thiết bị văn phòng,"Tư Vấn Doanh Nghiệp (B2B), Tư Vấn Bán Hàng, Bá...","số 149 Võ Văn Tần, Võ Thị Sáu, Quận 3, Hồ Chí ...","Nữ, Tốt nghiệp trung cấp trở lênƯu tiên có kin...","Công ty chuyên phân phối và cung cấp Máy, Mực,...","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.430879
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Lập Trình Mobile (Flutter Dev),Công Ty TNHH Công Nghệ Katec,"Kinh doanh, Trang thiết bị văn phòng","Android, iOS, Lập trình Mobile, UI/UX","189 PHAN HUY CHÚ, AN KHÁNH, NINH KIỀU, TP CT,C...",Có ít nhất 1 năm kinh nghiệm làm việc về phát ...,Tham gia phát triển các dự án của công ty.Xây ...,"5,000,000 - 10,000,000",1-3 năm,0.444103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Customs Clearance Manager,Samsung SDS,Vận tải,Electronics,"SEHC, Cổng số 1, Tăng Nhơn Phú B, Quận 9, Thàn...",(1)EDUCATION / QUALIFICATION:. College or univ...,(1) BROAD SCOPE:. Consulting of customs cleara...,"Trên 40,000,000",Trên 10 năm,0.221493
196,973260,Lê Thanh,Vận tải - Lái xe,24,Account Executive,"FedEx Express Vietnam Co., Ltd.",Vận tải,"Communications, Negotiation","15F, 4 Ton That Tung Street, Trung Tu Ward, Do...","To do the job well, you will need the followin...","In the position of an Account Executive, your ...",Thương lượng,1-3 năm,0.221493
197,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Khai Thác Sân Bay Nội Bài Không Yêu ...,Công Ty Cổ Phần Nhà Ga Hàng Hóa ALS,Vận tải,"Quản Lý Kho, Xuất Nhập Khẩu, Giao Nhận Kho Vận...","Tầng 4, ga hàng hóa ALS, Cảng HKQT Nội bài, Ph...",Trình độ học vấn: Tốt nghiệp các trường Đại họ...,* Nhân viên sẽ phụ trách làm một số mảng công ...,"Trên 40,000,000",Không yêu cầu kinh nghiệm,0.221493
198,973260,Lê Thanh,Vận tải - Lái xe,24,Hà Nội - Chuyên Viên Kinh Doanh (Bán Xe Ô Tô V...,GSM,Vận tải,"Kinh doanh ô tô, Sales, Marketing","Tầng B1 tòa R3 Royal City, 72 Nguyễn Trãi, Tha...",Tốt nghiệp từ Trung cấp trở lên. Ít nhất 1 năm...,"Tìm kiếm Khách hàng, triển khai bán hàng, hoàn...","Trên 40,000,000",Không yêu cầu kinh nghiệm,0.221493
199,973260,Lê Thanh,Vận tải - Lái xe,24,Quản Lý Đào Tạo,GSM,Vận tải,"Đào Tạo, Training, Tiếng Anh, Quản Lý Đào Tạo,...","Symphony Office, đường Chu Huy Mân, Long Biên,...",Kĩ năng triển khai đào tạo & đứng lớp. Ngoại h...,"Xây dựng tài liệu học tập, chương trình đào tạ...","Trên 40,000,000",3-5 năm,0.221493

In [246]:
job_title_recommendation_results = await Get_multi_recommendations(user_data, model, "sbert", "job title")
job_title_recommendation_results

2024-12-16 01:28:05,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:05,363 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:05,364 INFO sqlalchemy.engine.Engine [cached since 6098s ago] ('[0.34603989124298096,0.04691627249121666,-0.0481988899409771,-0.07198398560285568,-0.26271557807922363,-0.096248559653759,-0.023860599845647812,-0.15 ... (15152 characters truncated) ... 75763,0.016100585460662842,0.09937359392642975,0.30393534898757935,0.05660726875066757,0.05390939116477966,-0.35958051681518555,-0.22428885102272034]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:05,543 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:05,654 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:05,657 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:05,658 INFO sqlalchemy.engine.Engine [cached since 6099s ago] ('[-0.22994045913219452,0.04000130295753479,-0.030219191685318947,-0.11681243032217026,-0.05122069641947746,0.1693257987499237,-0.04208042100071907,-0. ... (15158 characters truncated) ... 757854462,-0.3118762969970703,0.22123201191425323,0.1593453586101532,0.05641482025384903,-0.29312968254089355,0.19663450121879578,0.2729038596153259]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:05,831 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:05,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:05,955 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:05,956 INFO sqlalchemy.engine.Engine [cached since 6099s ago] ('[-0.028860921040177345,0.364654541015625,-0.1936277151107788,-0.03865302726626396,0.07681555300951004,0.2664046287536621,-0.09225206822156906,-0.1823 ... (15180 characters truncated) ... 17685318,-0.1463814526796341,0.041841309517621994,0.12709757685661316,0.14452426135540009,-0.16314560174942017,0.2190071940422058,0.2615649700164795]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:06,131 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:06,250 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:06,253 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:06,255 INFO sqlalchemy.engine.Engine [cached since 6099s ago] ('[0.383340448141098,0.83526611328125,-0.1327325850725174,-0.1530907154083252,0.02707841619849205,0.013606775552034378,0.28359657526016235,-0.101396828 ... (15136 characters truncated) ... 62511063,-0.3864583373069763,0.606344997882843,-0.11332346498966217,0.34224218130111694,-0.6966568231582642,-0.0018110019154846668,0.203832745552063]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:06,424 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:06,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:06,517 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:06,519 INFO sqlalchemy.engine.Engine [cached since 6100s ago] ('[-0.028860921040177345,0.364654541015625,-0.1936277151107788,-0.03865302726626396,0.07681555300951004,0.2664046287536621,-0.09225206822156906,-0.1823 ... (15180 characters truncated) ... 17685318,-0.1463814526796341,0.041841309517621994,0.12709757685661316,0.14452426135540009,-0.16314560174942017,0.2190071940422058,0.2615649700164795]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:06,688 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:06,802 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:06,804 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:06,805 INFO sqlalchemy.engine.Engine [cached since 6100s ago] ('[0.08470213413238525,0.24873778223991394,-0.009164833463728428,0.1760171502828598,0.13960355520248413,0.43993961811065674,0.08221607655286789,0.41530 ... (15179 characters truncated) ... 290635109,0.5264774560928345,0.17771917581558228,-0.3855975568294525,-0.120774045586586,-0.2853575050830841,-0.6102648377418518,-0.11919409781694412]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:06,986 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:07,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:07,060 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:07,061 INFO sqlalchemy.engine.Engine [cached since 6100s ago] ('[0.009886891581118107,0.0196490827947855,0.05460595712065697,-0.29852500557899475,-0.10057785362005234,0.21073299646377563,0.44988682866096497,0.1967 ... (15143 characters truncated) ... 29950714,-0.09322136640548706,0.12500782310962677,-0.4040411412715912,0.08216562867164612,-0.06697937101125717,0.0606357604265213,0.5109345316886902]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:07,229 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:07,308 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:07,310 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:07,312 INFO sqlalchemy.engine.Engine [cached since 6100s ago] ('[0.21337872743606567,0.8168051242828369,-0.01266113854944706,-0.08829687535762787,0.29137736558914185,0.0579722598195076,0.37352290749549866,-0.22889 ... (15127 characters truncated) ... 88837433,-0.2878865599632263,0.5205525755882263,0.051330581307411194,0.30650922656059265,-0.7452214956283569,0.04167919233441353,0.35894787311553955]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:07,486 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:07,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:07,573 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:07,574 INFO sqlalchemy.engine.Engine [cached since 6101s ago] ('[0.21743866801261902,0.6123260259628296,-0.4360227882862091,-0.24676936864852905,0.16192872822284698,0.13032834231853485,0.2812293469905853,-0.100884 ... (15166 characters truncated) ... 969193,0.07052547484636307,0.26129353046417236,-0.19224633276462555,0.15981754660606384,-0.47927531599998474,0.11615525931119919,0.19210249185562134]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:07,771 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:07,860 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:07,862 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS distance
FROM jobs_1
WHERE jobs_1.job_title IS NOT NULL AND trim(regexp_replace(jobs_1.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:07,863 INFO sqlalchemy.engine.Engine [cached since 6101s ago] ('[0.23415431380271912,0.49967899918556213,-0.27011796832084656,-0.11289127171039581,0.389967679977417,0.06329189240932465,0.3721901476383209,-0.328764 ... (15161 characters truncated) ... 1740227,0.1940879225730896,0.11855318397283554,-0.1641007363796234,0.042785581201314926,-0.2942594885826111,-0.12569640576839447,0.07299964129924774]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:08,035 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính - Nhân Sự,Viện Nghiên Cứu Và Đào Tạo Bất Động Sản,Kinh doanh,"Đào Tạo, Quản Lý Điều Hành, Quản Trị Nhân Sự (...","Đà Nẵng: 136 Tống Phước Phổ, Hải Châu",Tốt nghiệp Đại học chuyên ngành Kinh tế/ Quản ...,Thực hiện công tác phát triển nhân sự.Triển kh...,Thỏa thuận,1-3 năm,0.179899
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính - Nhân Sự,Công Ty TNHH Thương Mại Và Dịch Vụ Tocepo,Kinh doanh,Hành chính Văn phòng,"Số 224 Đống Đa, P. Thị Nại, TP. Qui Nhơn, tỉnh...",Có bằng Cử nhân trở lên thuộc chuyên ngành Quả...,"Quản lý hệ thống các chính sách, quy định, quy...",Thỏa thuận,1-3 năm,0.179899
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính Nhân Sự,Công Ty CP Thực Phẩm Richy Miền Nam,Sản xuất,"Tuyển Dụng, Quản Trị Nhân Sự, Nhân Sự, Hành Ch...","Tầng 8, Tòa Victory Tower, Số 12 Tân Trào, P T...",Tốt nghiệp Đại học trở lên. Ứng viên 03 năm ki...,1. Nhân sự:. a. Xây dựng và quản trị hệ thống:...,"20,000,000 - 40,000,000",3-5 năm,0.188543
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính Nhân Sự,Công Ty TNHH Thời Trang Tracy,Kinh doanh,Hành chính Văn phòng,"141 Bà Triệu, Hai Bà Trưng",●Giới tính: Nữ. ●Độ tuổi: Sinh từ 1985 đến 199...,Công tác hành chính. ● Quản lý và phê duyệt cô...,Thỏa thuận,5-10 năm,0.188543
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính Nhân Sự,Công Ty TNHH Kim Hà Việt,Sản xuất,"Quản Trị Nhân Sự, HR, Tuyển Dụng, Hành Chính N...",Tra Vinh,Tốt nghiệp đại học các chuyên ngành Quản trị N...,"1. Công tác nhân sự:. Tổ chức, quản lý công tá...","Trên 40,000,000",5-10 năm,0.188543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,QA Executive (Ưu Tiên Có Bằng Lái Xe B2),Rentokil Initial (Viet Nam) Limited Company,Dịch vụ môi trường/Chất thải,"Quality Assurance, Quality Control, Pest Contr...","P. Hưng Phú, Quận Cái Răng, TP. Cần Thơ","Graduated from college and above, chemical or ...",1. Inspection & Reporting. To constantly monit...,"Trên 40,000,000",1-3 năm,0.482940
196,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe Sân Đỗ,Công ty TNHH Một thành viên Kỹ thuật Máy bay -...,Cơ khí/Kĩ thuật ứng dụng,"Lái Xe, Lái Xe Tải","Sân bay quốc tế Nội Bài, Sóc Sơn, Hà Nội|",Là công dân Việt Nam; từ đủ 18 tuổi đến 45 tuổ...,Lái xe trên sân đỗ máy bay phục vụ công tác bả...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.492187
197,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Bán Hàng Mercedes-Benz Khu Vực Hà Nội,Mercedes-Benz Haxaco Láng Hạ,Ô tô,"Kinh doanh ô tô, Bán Hàng Cao Cấp, Ô Tô, Bán H...","46 Phố Láng Hạ, phường Láng Hạ, Đống Đa, Hà Nộ...",Kinh nghiệm: Có từ 12 năm kinh nghiệm bán hàng...,Chúng tôi tìm kiếm nhân sự vàng cho vị trí Nhâ...,"Trên 40,000,000",Không yêu cầu kinh nghiệm,0.500344
198,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe Bằng Lái E,Công Ty Du Lịch Hưng Long,Du lịch,"Lái Xe, Lái Xe Khách","338 Trần Khát Chân, Thanh Nhàn, Hai Bà Trưng, ...",Bằng lái: E ( ưu tiên có kinh nghiệm lái xe kh...,"Phục vụ, chăn sóc khách hàng trong suốt chuyến...","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.501657
199,973260,Lê Thanh,Vận tải - Lái xe,24,Lái Xe,"INOUE Rubber Vietnam CO., LTD.",Sản xuất,"Bảo Trì, Lái Xe, Lái Xe Hạng D, Lái Xe Ô Tô",Thôn Phú Nhi- Xã Thanh Lâm- Huyện Mê Linh- Hà Nội,Có bằng lái xe hạng D trở lên. Ít nhất 6 tháng...,Đưa đón cán bộ công nhân viên: Thực hiện việc ...,Thương lượng,Không yêu cầu kinh nghiệm,0.515784

In [247]:
combined_recommendation_results = await Get_multi_recommendations(user_data, model, "sbert", "combined")
combined_recommendation_results

2024-12-16 01:28:08,450 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:08,455 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS job_title_distance, jobs_1.industry_vector <=> $2 AS industry_distance, jobs_1.job_skill_vector <=> $3 AS job_skill_distance, jobs_1.job_address_vector <=> $4 AS job_address_distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND jobs_1.job_title IS NOT NULL AND jobs_1.job_skill IS NOT NULL AND jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_1.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_1.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_1.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:08,457 INFO sqlalchemy.engine.Engine [cached since 2128s ago] ('[0.34603989124298096,0.04691627249121666,-0.0481988899409771,-0.07198398560285568,-0.26271557807922363,-0.096248559653759,-0.023860599845647812,-0.15 ... (15152 characters truncated) ... 75763,0.016100585460662842,0.09937359392642975,0.30393534898757935,0.05660726875066757,0.05390939116477966,-0.35958051681518555,-0.22428885102272034]', '[0.44310906529426575,0.04457218572497368,-0.14286266267299652,-0.24837009608745575,-0.1243777871131897,-0.26507705450057983,-0.1482895314693451,-0.58 ... (15119 characters truncated) ... 53994751,-0.044133011251688004,0.118479885160923,0.5872492790222168,-0.01974065788090229,0.13898780941963196,-0.2551933825016022,-0.2521238327026367]', '[0.03798454627394676,0.3454383909702301,0.017232272773981094,0.015160647220909595,0.2480212152004242,0.8499230146408081,0.041743144392967224,-0.11242 ... (15206 characters truncated) ... 89899445,0.05216211825609207,0.0629284605383873,0.1142788752913475,-0.2338709682226181,0.07571783661842346,-0.16125649213790894,-0.29363563656806946]', '[-0.2742690145969391,0.4564611315727234,-0.6578325629234314,-0.35101208090782166,-0.26071643829345703,-0.12473781406879425,0.3879827558994293,-0.0008 ... (15131 characters truncated) ... 74810028076,-0.0841967910528183,-0.2372806817293167,0.4111827313899994,-0.2515645921230316,-0.33252012729644775,0.473588228225708,0.3109177052974701]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:08,867 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:09,213 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:09,213 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS job_title_distance, jobs_1.industry_vector <=> $2 AS industry_distance, jobs_1.job_skill_vector <=> $3 AS job_skill_distance, jobs_1.job_address_vector <=> $4 AS job_address_distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND jobs_1.job_title IS NOT NULL AND jobs_1.job_skill IS NOT NULL AND jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_1.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_1.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_1.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:09,213 INFO sqlalchemy.engine.Engine [cached since 2129s ago] ('[-0.22994045913219452,0.04000130295753479,-0.030219191685318947,-0.11681243032217026,-0.05122069641947746,0.1693257987499237,-0.04208042100071907,-0. ... (15158 characters truncated) ... 757854462,-0.3118762969970703,0.22123201191425323,0.1593453586101532,0.05641482025384903,-0.29312968254089355,0.19663450121879578,0.2729038596153259]', '[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[0.09526557475328445,-0.13525652885437012,0.21330103278160095,-0.10004916787147522,0.14993898570537567,0.283748060464859,-0.22845320403575897,0.13399 ... (15238 characters truncated) ... 015831,0.011488337069749832,0.023823469877243042,0.15221697092056274,-0.12479136139154434,0.4933273196220398,0.02759261056780815,-0.0977001041173935]', '[-0.416450172662735,0.239356130361557,0.17215093970298767,-0.5895354747772217,-0.20105060935020447,0.18224848806858063,0.03198482096195221,-0.3669221 ... (15164 characters truncated) ... 33591747,-0.552862286567688,-0.12606124579906464,0.3157983422279358,0.19006548821926117,0.15443766117095947,0.025427913293242455,-0.6923545598983765]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:09,619 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:09,998 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:10,003 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS job_title_distance, jobs_1.industry_vector <=> $2 AS industry_distance, jobs_1.job_skill_vector <=> $3 AS job_skill_distance, jobs_1.job_address_vector <=> $4 AS job_address_distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND jobs_1.job_title IS NOT NULL AND jobs_1.job_skill IS NOT NULL AND jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_1.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_1.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_1.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:10,005 INFO sqlalchemy.engine.Engine [cached since 2130s ago] ('[-0.028860921040177345,0.364654541015625,-0.1936277151107788,-0.03865302726626396,0.07681555300951004,0.2664046287536621,-0.09225206822156906,-0.1823 ... (15180 characters truncated) ... 17685318,-0.1463814526796341,0.041841309517621994,0.12709757685661316,0.14452426135540009,-0.16314560174942017,0.2190071940422058,0.2615649700164795]', '[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[-0.19643814861774445,0.2980537712574005,0.20423415303230286,-0.030217930674552917,0.18185660243034363,0.3654329180717468,0.2678582966327667,-0.21758 ... (15250 characters truncated) ... 2745,0.10386092960834503,0.24144473671913147,0.24204862117767334,-0.26865068078041077,0.14390404522418976,-0.08829928189516068,-0.027714261785149574]', '[0.09062754362821579,-0.12519283592700958,-0.5201442241668701,-0.587961733341217,-0.16220779716968536,-0.1724303513765335,0.035952359437942505,-0.306 ... (15177 characters truncated) ... 50159836,-0.6591829657554626,-0.4301143288612366,0.30607470870018005,0.31452783942222595,0.22270074486732483,0.14461128413677216,-0.3292781710624695]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:10,401 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:10,733 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:10,738 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS job_title_distance, jobs_1.industry_vector <=> $2 AS industry_distance, jobs_1.job_skill_vector <=> $3 AS job_skill_distance, jobs_1.job_address_vector <=> $4 AS job_address_distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND jobs_1.job_title IS NOT NULL AND jobs_1.job_skill IS NOT NULL AND jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_1.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_1.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_1.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:10,739 INFO sqlalchemy.engine.Engine [cached since 2130s ago] ('[0.383340448141098,0.83526611328125,-0.1327325850725174,-0.1530907154083252,0.02707841619849205,0.013606775552034378,0.28359657526016235,-0.101396828 ... (15136 characters truncated) ... 62511063,-0.3864583373069763,0.606344997882843,-0.11332346498966217,0.34224218130111694,-0.6966568231582642,-0.0018110019154846668,0.203832745552063]', '[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[0.09526557475328445,-0.13525652885437012,0.21330103278160095,-0.10004916787147522,0.14993898570537567,0.283748060464859,-0.22845320403575897,0.13399 ... (15238 characters truncated) ... 015831,0.011488337069749832,0.023823469877243042,0.15221697092056274,-0.12479136139154434,0.4933273196220398,0.02759261056780815,-0.0977001041173935]', '[-0.416450172662735,0.239356130361557,0.17215093970298767,-0.5895354747772217,-0.20105060935020447,0.18224848806858063,0.03198482096195221,-0.3669221 ... (15164 characters truncated) ... 33591747,-0.552862286567688,-0.12606124579906464,0.3157983422279358,0.19006548821926117,0.15443766117095947,0.025427913293242455,-0.6923545598983765]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:11,154 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:11,519 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:11,524 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS job_title_distance, jobs_1.industry_vector <=> $2 AS industry_distance, jobs_1.job_skill_vector <=> $3 AS job_skill_distance, jobs_1.job_address_vector <=> $4 AS job_address_distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND jobs_1.job_title IS NOT NULL AND jobs_1.job_skill IS NOT NULL AND jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_1.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_1.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_1.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:11,526 INFO sqlalchemy.engine.Engine [cached since 2131s ago] ('[-0.028860921040177345,0.364654541015625,-0.1936277151107788,-0.03865302726626396,0.07681555300951004,0.2664046287536621,-0.09225206822156906,-0.1823 ... (15180 characters truncated) ... 17685318,-0.1463814526796341,0.041841309517621994,0.12709757685661316,0.14452426135540009,-0.16314560174942017,0.2190071940422058,0.2615649700164795]', '[0.025083431974053383,0.5579157471656799,-0.43940845131874084,-0.5682488679885864,0.4901729226112366,-0.19515790045261383,0.502564549446106,-0.104067 ... (15159 characters truncated) ... 9649734497,-0.1341397613286972,0.33289605379104614,0.21669809520244598,0.541274905204773,-0.8241202235221863,0.3287198543548584,-0.05335516110062599]', '[-0.19643814861774445,0.2980537712574005,0.20423415303230286,-0.030217930674552917,0.18185660243034363,0.3654329180717468,0.2678582966327667,-0.21758 ... (15250 characters truncated) ... 2745,0.10386092960834503,0.24144473671913147,0.24204862117767334,-0.26865068078041077,0.14390404522418976,-0.08829928189516068,-0.027714261785149574]', '[0.09062754362821579,-0.12519283592700958,-0.5201442241668701,-0.587961733341217,-0.16220779716968536,-0.1724303513765335,0.035952359437942505,-0.306 ... (15177 characters truncated) ... 50159836,-0.6591829657554626,-0.4301143288612366,0.30607470870018005,0.31452783942222595,0.22270074486732483,0.14461128413677216,-0.3292781710624695]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:11,957 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:12,374 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:12,383 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS job_title_distance, jobs_1.industry_vector <=> $2 AS industry_distance, jobs_1.job_skill_vector <=> $3 AS job_skill_distance, jobs_1.job_address_vector <=> $4 AS job_address_distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND jobs_1.job_title IS NOT NULL AND jobs_1.job_skill IS NOT NULL AND jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_1.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_1.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_1.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:12,384 INFO sqlalchemy.engine.Engine [cached since 2132s ago] ('[0.08470213413238525,0.24873778223991394,-0.009164833463728428,0.1760171502828598,0.13960355520248413,0.43993961811065674,0.08221607655286789,0.41530 ... (15179 characters truncated) ... 290635109,0.5264774560928345,0.17771917581558228,-0.3855975568294525,-0.120774045586586,-0.2853575050830841,-0.6102648377418518,-0.11919409781694412]', '[0.5140445828437805,0.24496085941791534,-0.15972475707530975,-0.8997016549110413,0.17436553537845612,-0.1788308173418045,-0.40518394112586975,-0.0829 ... (15108 characters truncated) ... 6220703,-0.16562020778656006,-0.14201246201992035,0.7107160687446594,0.16929475963115692,0.14157246053218842,-0.0791545882821083,-0.5311183929443359]', '[-0.04942380264401436,0.3918602168560028,-0.041818343102931976,0.00217813509516418,-0.19388940930366516,0.6438177227973938,-0.38283413648605347,0.174 ... (15245 characters truncated) ... 74625,-0.04513118043541908,0.42480984330177307,0.07845355570316315,-0.22938062250614166,0.3362487554550171,-0.22315269708633423,-0.08008366823196411]', '[0.348868727684021,-0.01618637703359127,-0.35470280051231384,-0.3196323812007904,0.10523217916488647,0.05258374288678169,-0.028705498203635216,-0.330 ... (15118 characters truncated) ... 74698,-0.44214674830436707,-0.40841904282569885,0.00980186928063631,-0.012220618315041065,0.3453228771686554,0.5341395139694214,0.002831320045515895]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:12,798 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:13,147 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:13,151 INFO sqlalchemy.engine.Engine SELECT jobs_1.id, jobs_1.url, jobs_1.job_title, jobs_1.company_name, jobs_1.industry, jobs_1.company_address, jobs_1.job_description, jobs_1.job_requirements, jobs_1.benefits, jobs_1.salary, jobs_1.expire_date, jobs_1.employee_rank, jobs_1.job_skill, jobs_1.job_field, jobs_1.years_of_experience, jobs_1.job_address, jobs_1.job_title_vector, jobs_1.industry_vector, jobs_1.job_skill_vector, jobs_1.job_address_vector, jobs_1.job_title_vector <=> $1 AS job_title_distance, jobs_1.industry_vector <=> $2 AS industry_distance, jobs_1.job_skill_vector <=> $3 AS job_skill_distance, jobs_1.job_address_vector <=> $4 AS job_address_distance
FROM jobs_1
WHERE jobs_1.industry IS NOT NULL AND jobs_1.job_title IS NOT NULL AND jobs_1.job_skill IS NOT NULL AND jobs_1.job_address IS NOT NULL AND trim(regexp_replace(jobs_1.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_1.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_1.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_1.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính - Nhân Sự,Viện Nghiên Cứu Và Đào Tạo Bất Động Sản,Kinh doanh,"Đào Tạo, Quản Lý Điều Hành, Quản Trị Nhân Sự (...","Đà Nẵng: 136 Tống Phước Phổ, Hải Châu",Tốt nghiệp Đại học chuyên ngành Kinh tế/ Quản ...,Thực hiện công tác phát triển nhân sự.Triển kh...,Thỏa thuận,1-3 năm,0.179899
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính - Nhân Sự,Công Ty TNHH Thương Mại Và Dịch Vụ Tocepo,Kinh doanh,Hành chính Văn phòng,"Số 224 Đống Đa, P. Thị Nại, TP. Qui Nhơn, tỉnh...",Có bằng Cử nhân trở lên thuộc chuyên ngành Quả...,"Quản lý hệ thống các chính sách, quy định, quy...",Thỏa thuận,1-3 năm,0.179899
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính Nhân Sự,Công Ty TNHH Kim Hà Việt,Sản xuất,"Quản Trị Nhân Sự, HR, Tuyển Dụng, Hành Chính N...",Tra Vinh,Tốt nghiệp đại học các chuyên ngành Quản trị N...,"1. Công tác nhân sự:. Tổ chức, quản lý công tá...","Trên 40,000,000",5-10 năm,0.188543
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính Nhân Sự,Công Ty CP Thực Phẩm Richy Miền Nam,Sản xuất,"Tuyển Dụng, Quản Trị Nhân Sự, Nhân Sự, Hành Ch...","Tầng 8, Tòa Victory Tower, Số 12 Tân Trào, P T...",Tốt nghiệp Đại học trở lên. Ứng viên 03 năm ki...,1. Nhân sự:. a. Xây dựng và quản trị hệ thống:...,"20,000,000 - 40,000,000",3-5 năm,0.188543
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Hành Chính Nhân Sự,Công Ty Cổ Phần Hóa Dầu Vĩnh Phúc,Kinh doanh,"Quản Trị Nhân Sự (HR), Bảo Hiểm Và Tiền Lương ...","10A/13, QL1A, Tân Hưng, Tân Hạnh, Long Hồ, Vĩn...",· Có bằng cử nhân trở lên chuyên ngành Kinh tế...,· Xây dựng kế hoạch tuyển dụng. · Phối hợp các...,"10,000,000 - 15,000,000",1-3 năm,0.188543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,QA Executive (Ưu Tiên Có Bằng Lái Xe B2),Rentokil Initial (Viet Nam) Limited Company,Dịch vụ môi trường/Chất thải,"Quality Assurance, Quality Control, Pest Contr...","P. Hưng Phú, Quận Cái Răng, TP. Cần Thơ","Graduated from college and above, chemical or ...",1. Inspection & Reporting. To constantly monit...,"Trên 40,000,000",1-3 năm,0.482940
196,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe Sân Đỗ,Công ty TNHH Một thành viên Kỹ thuật Máy bay -...,Cơ khí/Kĩ thuật ứng dụng,"Lái Xe, Lái Xe Tải","Sân bay quốc tế Nội Bài, Sóc Sơn, Hà Nội|",Là công dân Việt Nam; từ đủ 18 tuổi đến 45 tuổ...,Lái xe trên sân đỗ máy bay phục vụ công tác bả...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.492187
197,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Bán Hàng Mercedes-Benz Khu Vực Hà Nội,Mercedes-Benz Haxaco Láng Hạ,Ô tô,"Kinh doanh ô tô, Bán Hàng Cao Cấp, Ô Tô, Bán H...","46 Phố Láng Hạ, phường Láng Hạ, Đống Đa, Hà Nộ...",Kinh nghiệm: Có từ 12 năm kinh nghiệm bán hàng...,Chúng tôi tìm kiếm nhân sự vàng cho vị trí Nhâ...,"Trên 40,000,000",Không yêu cầu kinh nghiệm,0.500344
198,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe Bằng Lái E,Công Ty Du Lịch Hưng Long,Du lịch,"Lái Xe, Lái Xe Khách","338 Trần Khát Chân, Thanh Nhàn, Hai Bà Trưng, ...",Bằng lái: E ( ưu tiên có kinh nghiệm lái xe kh...,"Phục vụ, chăn sóc khách hàng trong suốt chuyến...","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.501657
199,973260,Lê Thanh,Vận tải - Lái xe,24,Lái Xe,"INOUE Rubber Vietnam CO., LTD.",Sản xuất,"Bảo Trì, Lái Xe, Lái Xe Hạng D, Lái Xe Ô Tô",Thôn Phú Nhi- Xã Thanh Lâm- Huyện Mê Linh- Hà Nội,Có bằng lái xe hạng D trở lên. Ít nhất 6 tháng...,Đưa đón cán bộ công nhân viên: Thực hiện việc ...,Thương lượng,Không yêu cầu kinh nghiệm,0.515784

In [248]:
industry_recommendation_results.to_csv("results/sbert/industry_recommendation_results.csv", index=False)
skill_recommendation_results.to_csv("results/sbert/skill_recommendation_results.csv", index=False)
address_recommendation_results.to_csv("results/sbert/address_recommendation_results.csv", index=False)
job_title_recommendation_results.to_csv("results/sbert/job_title_recommendation_results.csv", index=False)
combined_recommendation_results.to_csv("results/sbert/combined_recommendation_results.csv", index=False)

## PhoBERT

In [249]:
model = SentenceTransformer('vinai/phobert-base')

No sentence-transformers model found with name vinai/phobert-base. Creating a new one with mean pooling.

In [250]:
skill_recommendation_results = await Get_multi_recommendations(user_data, model, "phobert", "skill")
skill_recommendation_results

2024-12-16 01:28:20,722 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:20,730 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:20,732 INFO sqlalchemy.engine.Engine [cached since 1121s ago] ('[-0.13463221490383148,0.3770056366920471,-0.14832065999507904,-0.20196151733398438,-0.06632264703512192,0.2360406368970871,0.16971825063228607,-0.184 ... (15305 characters truncated) ... 85254,0.13903875648975372,0.02522362396121025,-0.001377671374939382,-0.06534132361412048,0.10922528058290482,0.01811571978032589,0.10253522545099258]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:31,312 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:31,462 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:31,466 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:31,467 INFO sqlalchemy.engine.Engine [cached since 1132s ago] ('[-0.10907608270645142,0.19657497107982635,-0.1308009773492813,-0.15622961521148682,-0.08718818426132202,0.14712946116924286,0.26696673035621643,-0.13 ... (15331 characters truncated) ... ,0.01545996218919754,-0.05841980502009392,0.030863478779792786,-0.0033835344947874546,0.05285371467471123,-0.0029793246649205685,0.24307742714881897]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:31,748 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:31,936 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:31,939 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:31,941 INFO sqlalchemy.engine.Engine [cached since 1132s ago] ('[-0.16233594715595245,0.30581751465797424,-0.0882175862789154,-0.17515769600868225,-0.09683220088481903,0.16216926276683807,0.2828039526939392,-0.232 ... (15293 characters truncated) ... 6231,0.06083998084068298,0.036295998841524124,0.10619009286165237,-0.05518558248877525,0.10062774270772934,-0.021680178120732307,0.19175098836421967]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:32,185 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:32,365 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:32,369 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:32,370 INFO sqlalchemy.engine.Engine [cached since 1133s ago] ('[-0.10907608270645142,0.19657497107982635,-0.1308009773492813,-0.15622961521148682,-0.08718818426132202,0.14712946116924286,0.26696673035621643,-0.13 ... (15331 characters truncated) ... ,0.01545996218919754,-0.05841980502009392,0.030863478779792786,-0.0033835344947874546,0.05285371467471123,-0.0029793246649205685,0.24307742714881897]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:32,640 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:32,828 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:32,831 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:32,832 INFO sqlalchemy.engine.Engine [cached since 1133s ago] ('[-0.16233594715595245,0.30581751465797424,-0.0882175862789154,-0.17515769600868225,-0.09683220088481903,0.16216926276683807,0.2828039526939392,-0.232 ... (15293 characters truncated) ... 6231,0.06083998084068298,0.036295998841524124,0.10619009286165237,-0.05518558248877525,0.10062774270772934,-0.021680178120732307,0.19175098836421967]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:33,071 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:33,247 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:33,250 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:33,251 INFO sqlalchemy.engine.Engine [cached since 1133s ago] ('[-0.15060026943683624,0.4187646806240082,-0.16954539716243744,-0.14392809569835663,-0.150350421667099,0.28284043073654175,0.2818908095359802,-0.15419 ... (15323 characters truncated) ... 910072,0.13831885159015656,0.02247793599963188,0.028827274218201637,-0.005878403317183256,0.132280632853508,-0.16084729135036469,0.22827167809009552]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:33,531 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:33,703 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:33,707 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:33,708 INFO sqlalchemy.engine.Engine [cached since 1134s ago] ('[-0.17366015911102295,0.37323302030563354,-0.17068001627922058,-0.1972271054983139,-0.17353107035160065,0.1865750551223755,0.22468379139900208,-0.142 ... (15346 characters truncated) ... 85,0.24399785697460175,-0.00047120271483436227,0.08349128067493439,0.026102738454937935,0.13077880442142487,-0.01964920200407505,0.18266436457633972]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:33,978 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:34,145 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:34,149 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:34,150 INFO sqlalchemy.engine.Engine [cached since 1134s ago] ('[-0.11991894990205765,0.20867832005023956,-0.11951012164354324,-0.08663413673639297,-0.11781208962202072,0.1372314840555191,0.0658021867275238,-0.136 ... (15345 characters truncated) ... 607437,0.11812277883291245,0.07661882787942886,0.04755900800228119,-0.07479117065668106,0.18669672310352325,-0.06986798346042633,0.05753516033291817]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:34,388 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:34,574 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:34,577 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:34,578 INFO sqlalchemy.engine.Engine [cached since 1135s ago] ('[-0.1757657676935196,0.2170732468366623,-0.05917845293879509,-0.1679488569498062,-0.14175818860530853,0.016757303848862648,0.20846500992774963,-0.089 ... (15297 characters truncated) ... 63681412,0.07585031539201736,0.04997909441590309,0.13882331550121307,0.05533653870224953,0.04266965389251709,-0.13582035899162292,0.2945629954338074]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:34,846 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:35,034 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:35,037 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_skill_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_skill IS NOT NULL AND trim(regexp_replace(jobs_2.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:35,039 INFO sqlalchemy.engine.Engine [cached since 1135s ago] ('[-0.12253888696432114,0.2242959439754486,-0.14580632746219635,-0.16724218428134918,-0.01138352882117033,0.17238502204418182,0.2665426731109619,-0.068 ... (15292 characters truncated) ... 943567,0.1386960744857788,-0.10569868981838226,0.03126608207821846,-0.09819585084915161,0.14447073638439178,-0.02924293465912342,0.37439489364624023]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:35,281 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Nhóm Sự Kiện,Hệ thống Giáo Dục Edufit,Giáo dục/Đào Tạo,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Kỹ năng ...","lô PT-01, KĐT Vinhomes Ocean Park, Đa Tốn, Gia...",Tốt nghiệp đại học trở lên. Khả năng sử dụng t...,Tổ chức/Thực hiện/Giám sát/Quản lý công việc S...,"Trên 40,000,000",1-3 năm,0.249874
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,"Giám Sát Nhà Phân Phối (Nghệ An, Hà Tĩnh)",Công Ty Cổ Phần Sữa Việt Nam (Vinamilk),Hàng tiêu dùng,"Kỹ năng giao tiếp, Kỹ năng nắm bắt và giải quy...","Hà Tĩnh, Việt Nam","HỌC VẤN & CHUYÊN NGÀNH:. Tốt nghiệp Đại học, ư...","KHU VỰC: Vinh, Quỳnh Lưu, Anh Sơn (Nghệ An) và...",Thương lượng,3-5 năm,0.252121
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Phiên Dịch Tiếng Nhật,Công Ty TNHH YKK Việt Nam,Dệt may/May mặc/Giày dép,"Kỹ năng giao tiêp, Kỹ năng Tin học văn phòng, ...","KCN Đồng Văn 3, Phường Hoàng Đông, Thị xã Duy ...",1. Bằng cấp: Tốt nghiệp Cao đẳng trở lên (chuy...,"MÔ TẢ CÔNG VIỆC. Làm các thủ tục, giấy tờ cho ...",Thương lượng,1-3 năm,0.255303
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Account Manager,Công Ty TNHH Truong Dinh Holding (Tdh),Điện/Điện tử,"Giao Tiếp Tốt, Tiếng anh giao tiếp tốt, Khả nă...","11B Nguyễn Bỉnh Khiêm, Phường Bến Nghé, Quận 1...",Tốt nghiệp Đại học trở lên chuyên ngành kỹ thu...,TÓM TẮT CÔNG VIỆC. Chịu trách nhiệm hỗ trợ hoạ...,Thương lượng,5-10 năm,0.260662
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Giám Sát Nhà Phân Phối - Tây Ninh,Công Ty Cổ Phần Sữa Việt Nam (Vinamilk),Hàng tiêu dùng,"Kỹ năng giao tiếp, Kỹ năng nắm bắt và giải quy...","Tây Ninh, Vietnam","HỌC VẤN & CHUYÊN NGÀNH:. Tốt nghiệp Đại học, ư...",Chịu trách nhiệm trước Trưởng bán hàng Vùn...,Thương lượng,3-5 năm,0.264940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Quản lý Khách hàng ưu tiên - Cà Mau,Ngân Hàng TMCP Quốc Tế Việt Nam (VIB),Ngân hàng,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Kỹ năng ...","Ngân hàng Quốc Tế - VIB Cà Mau, 206-208 đường ...",Tốt nghiệp Cao đẳng trở lên (đối với ứng viên ...,Trách nhiệm công việc:Chịu trách nhiệm (i) Tư ...,Thương lượng,1-3 năm,0.270114
196,973260,Lê Thanh,Vận tải - Lái xe,24,Chuyên Viên Đào Tạo & Phát Triển - Senior L&OD,Công Ty TNHH Livespo Pharma,Giáo dục/Đào Tạo,"Hợp Đồng Lao Động, Kỹ năng giao tiếp, Kỹ năng ...","Tầng 2, tòa N03-T5 Ngoại Giao Đoàn",Trình độ chuyên môn: Tốt nghiệp đại học các ng...,1. Lập kế hoạch và thực hiện chiến lược đào tạ...,"20,000,000 - 40,000,000",3-5 năm,0.271685
197,973260,Lê Thanh,Vận tải - Lái xe,24,[Jp-66] Kỹ Sư Điều Khiển Plc Cho Máy Gia Công Gỗ,Công Ty TNHH R Techno Việt Nam,Sản xuất,"Tiếng Nhật N3, Kinh nghiệm sửa chữa PLC, Kinh ...",Nhật Bản,JOB REQUIREMENTS（điều kiện cần thiết）. Tiếng N...,Công ty: Công ty SUZUKO. Nơi làm việc: Thành p...,"1,000,000 - 5,000,000",1-3 năm,0.271766
198,973260,Lê Thanh,Vận tải - Lái xe,24,Quản Lý Kinh Doanh Kênh OTC Dược phẩm Nhất Nhất,Công Ty TNHH Phân Phối Trực Tuyến Nhất Nhất,Dịch vụ Y tế/Chăm sóc sức khỏe,"Giao tiếp, Kỹ năng quản lý nhân sự, Kỹ năng qu...",Toà nhà Nhất Nhất Pharma - Số 20 lô 05 khu 4.1...,Từ 2 năm kinh nghiệm trở lên ở vị trí tương đư...,Tổng thu nhập: 30.000.000 40.000.000 đồng/thán...,"Trên 40,000,000",1-3 năm,0.273501
199,973260,Lê Thanh,Vận tải - Lái xe,24,Quản Lý Vận Tải,Công ty Cổ phần Thực phẩm Sữa TH,Sản xuất,"Kỹ Năng Phân Tích, Kỹ năng xử lý vấn đề, Kỹ nă...","Nghĩa Sơn, huyện Nghĩa Đàn, tỉnh Nghệ An, Việt...","Tốt nghiệp Đại học trở lên, ưu tiên các ngành ...",Thiết lập mục tiêu cho bộ phận và phân bổ cho ...,"Trên 40,000,000",1-3 năm,0.275324

In [251]:
industry_recommendation_results = await Get_multi_recommendations(user_data, model, "phobert", "industry")
industry_recommendation_results

2024-12-16 01:28:35,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:35,434 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:35,435 INFO sqlalchemy.engine.Engine [cached since 1102s ago] ('[-0.06321824342012405,0.09771978855133057,-0.3152889609336853,-0.5855997800827026,-0.09530745446681976,-0.08576858043670654,0.27699097990989685,-0.39 ... (15233 characters truncated) ... 943268,0.06348533928394318,-0.02573351375758648,0.18512959778308868,0.06239134818315506,0.08782588690519333,-0.0886157751083374,-0.13312868773937225]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:37,126 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:37,233 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:37,235 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:37,238 INFO sqlalchemy.engine.Engine [cached since 1103s ago] ('[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:37,515 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:37,605 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:37,609 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:37,611 INFO sqlalchemy.engine.Engine [cached since 1104s ago] ('[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:37,832 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:37,915 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:37,925 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:37,925 INFO sqlalchemy.engine.Engine [cached since 1104s ago] ('[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:38,157 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:38,260 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:38,270 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:38,270 INFO sqlalchemy.engine.Engine [cached since 1104s ago] ('[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:38,507 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:38,588 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:38,593 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:38,593 INFO sqlalchemy.engine.Engine [cached since 1105s ago] ('[-0.06354555487632751,0.47448477149009705,-0.32635870575904846,-0.983210027217865,0.2931039333343506,0.009300719015300274,0.16806668043136597,-0.0854 ... (15205 characters truncated) ... 2545319,0.2824117839336395,-0.012228808365762234,0.3528237044811249,0.1416679173707962,0.20736245810985565,-0.03436946123838425,-0.37115004658699036]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:38,856 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:38,957 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:38,961 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:38,963 INFO sqlalchemy.engine.Engine [cached since 1105s ago] ('[0.06732212752103806,0.08510348945856094,-0.34353598952293396,-0.5906910300254822,-0.29193586111068726,0.11168670654296875,0.19331276416778564,-0.089 ... (15276 characters truncated) ... 716,0.2899325489997864,-0.040845662355422974,-0.01881280168890953,0.08266697078943253,-0.21570904552936554,-0.033876534551382065,0.16260823607444763]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:39,263 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:39,418 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:39,423 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:39,424 INFO sqlalchemy.engine.Engine [cached since 1106s ago] ('[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:39,733 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:39,834 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:39,839 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:39,840 INFO sqlalchemy.engine.Engine [cached since 1106s ago] ('[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:40,137 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:40,258 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:40,262 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.industry_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:40,263 INFO sqlalchemy.engine.Engine [cached since 1106s ago] ('[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:40,579 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính (Lương Thoả Thuận Theo Nă...,Trung Tâm Kiểm Định Hiệu Chuẩn Vùng 3,Khoa học - Công nghệ,"Đào Tạo, Tư Vấn Bán Hàng, Hành chính Văn phòng","Đường ĐX17, Khu phố Phú Thọ, Phường Phú Chánh...",Nữ từ 24 40 tuổi;Tốt nghiệp Cao đẳng trở lên c...,"Tiếp nhận, tổng hợp số hóa hồ sơ hành chính th...","5,000,000 - 10,000,000",1-3 năm,0.332477
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính (Lương Thoả Thuận Theo Nă...,Trung Tâm Kiểm Định Hiệu Chuẩn Vùng 3,Khoa học - Công nghệ,"Đào Tạo, Tư Vấn Bán Hàng, Hành chính Văn phòng","Đường ĐX17, Khu phố Phú Thọ, Phường Phú Chánh...",Nữ từ 24 40 tuổi;Tốt nghiệp Cao đẳng trở lên c...,"Tiếp nhận, tổng hợp số hóa hồ sơ hành chính th...","5,000,000 - 10,000,000",1-3 năm,0.332477
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Lập Trình Mobile (Flutter Dev),Công Ty TNHH Công Nghệ Katec,"Kinh doanh, Trang thiết bị văn phòng","Android, iOS, Lập trình Mobile, UI/UX","189 PHAN HUY CHÚ, AN KHÁNH, NINH KIỀU, TP CT,C...",Có ít nhất 1 năm kinh nghiệm làm việc về phát ...,Tham gia phát triển các dự án của công ty.Xây ...,"5,000,000 - 10,000,000",1-3 năm,0.362349
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Bán Hàng - Nhà Phân Phối Unilever,Công Ty TNHH Nguyên Minh Hoàng,"Kinh doanh, Bán hàng","Chăm Sóc Khách Hàng, Tư Vấn Bán Hàng, Bán Lẻ","K04/02 04/06 Ông Ích Khiêm, Tổ 56, Phường Than...",Nam/ Nữ(ưu tiên các bạn nam đã hoàn thành nghĩ...,Giới thiệu và bán các sản phẩm của Nhà sản xuấ...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.369595
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Business Development Specialist (Job),Công Ty TNHH Chợ Tốt,"Kinh doanh, Bán hàng",Tư Vấn Doanh Nghiệp (B2B),"UOA Tower, Số 6 Tân Trào, Phường Tân Phú, Quận 7",Ít nhất 2 năm kinh nghiệm bán hàng/ tư vấn/ qu...,"Tìm kiếm, tiếp cận, giới thiệu, tư vấn và chốt...","5,000,000 - 10,000,000",1-3 năm,0.369595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Hà Nội - Chuyên Viên Kinh Doanh (Bán Xe Ô Tô V...,GSM,Vận tải,"Kinh doanh ô tô, Sales, Marketing","Tầng B1 tòa R3 Royal City, 72 Nguyễn Trãi, Tha...",Tốt nghiệp từ Trung cấp trở lên. Ít nhất 1 năm...,"Tìm kiếm Khách hàng, triển khai bán hàng, hoàn...","Trên 40,000,000",Không yêu cầu kinh nghiệm,0.282092
196,973260,Lê Thanh,Vận tải - Lái xe,24,Ruby On Rails Developer,GSM,Vận tải,"Ruby On Rails, OOP, MySQL, Python, PostgreSQL","Vincom Center Đồng Khởi, Đường Lê Thánh Tôn, B...",Required Skills and Qualifications:. 3+ years ...,"Key Responsibilities:. Develop, maintain, and ...","Trên 40,000,000",Không yêu cầu kinh nghiệm,0.282092
197,973260,Lê Thanh,Vận tải - Lái xe,24,Customs Clearance Manager,Samsung SDS,Vận tải,Electronics,"SEHC, Cổng số 1, Tăng Nhơn Phú B, Quận 9, Thàn...",(1)EDUCATION / QUALIFICATION:. College or univ...,(1) BROAD SCOPE:. Consulting of customs cleara...,"Trên 40,000,000",Trên 10 năm,0.282092
198,973260,Lê Thanh,Vận tải - Lái xe,24,Account Executive,"FedEx Express Vietnam Co., Ltd.",Vận tải,"Communications, Negotiation","15F, 4 Ton That Tung Street, Trung Tu Ward, Do...","To do the job well, you will need the followin...","In the position of an Account Executive, your ...",Thương lượng,1-3 năm,0.282092
199,973260,Lê Thanh,Vận tải - Lái xe,24,Quản Lý Đào Tạo,GSM,Vận tải,"Đào Tạo, Training, Tiếng Anh, Quản Lý Đào Tạo,...","Symphony Office, đường Chu Huy Mân, Long Biên,...",Kĩ năng triển khai đào tạo & đứng lớp. Ngoại h...,"Xây dựng tài liệu học tập, chương trình đào tạ...","Trên 40,000,000",3-5 năm,0.282092

In [252]:
address_recommendation_results = await Get_multi_recommendations(user_data, model, "phobert", "location")
address_recommendation_results

2024-12-16 01:28:40,735 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:40,741 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:40,743 INFO sqlalchemy.engine.Engine [generated in 0.00307s] ('[-0.4315844178199768,0.06216150522232056,-0.555944561958313,-0.3563973903656006,-0.12172585725784302,0.03407549858093262,0.39096468687057495,-0.34153 ... (15193 characters truncated) ... 6064,-0.1326526254415512,-0.08601121604442596,0.01737871952354908,0.037189237773418427,-0.12216392904520035,-0.06346528232097626,0.17314574122428894]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:41,407 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:41,488 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:41,491 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:41,493 INFO sqlalchemy.engine.Engine [cached since 0.7534s ago] ('[0.24296298623085022,0.31339532136917114,-0.6017425656318665,-0.34796276688575745,-0.10126570612192154,0.499662309885025,0.47690802812576294,-0.29783 ... (15137 characters truncated) ... 97937,-0.26683059334754944,0.45590823888778687,0.044783253222703934,0.15447482466697693,0.32805362343788147,-0.13322138786315918,-0.9312480688095093]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:41,727 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:41,821 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:41,824 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:41,825 INFO sqlalchemy.engine.Engine [cached since 1.086s ago] ('[-0.11162137985229492,0.2825515568256378,-0.46038442850112915,-0.4959486126899719,-0.19248847663402557,0.16793552041053772,0.08705595135688782,-0.476 ... (15167 characters truncated) ... 26683044,-0.4812406003475189,-0.11878978461027145,-0.17263911664485931,0.4114019274711609,0.588208794593811,0.09082727134227753,-0.25114068388938904]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:42,029 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:42,104 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:42,107 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:42,108 INFO sqlalchemy.engine.Engine [cached since 1.369s ago] ('[0.24296298623085022,0.31339532136917114,-0.6017425656318665,-0.34796276688575745,-0.10126570612192154,0.499662309885025,0.47690802812576294,-0.29783 ... (15137 characters truncated) ... 97937,-0.26683059334754944,0.45590823888778687,0.044783253222703934,0.15447482466697693,0.32805362343788147,-0.13322138786315918,-0.9312480688095093]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:42,343 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:42,437 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:42,441 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:42,443 INFO sqlalchemy.engine.Engine [cached since 1.703s ago] ('[-0.11162137985229492,0.2825515568256378,-0.46038442850112915,-0.4959486126899719,-0.19248847663402557,0.16793552041053772,0.08705595135688782,-0.476 ... (15167 characters truncated) ... 26683044,-0.4812406003475189,-0.11878978461027145,-0.17263911664485931,0.4114019274711609,0.588208794593811,0.09082727134227753,-0.25114068388938904]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:42,643 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:42,728 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:42,730 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:42,731 INFO sqlalchemy.engine.Engine [cached since 1.992s ago] ('[0.050241004675626755,0.0305830929428339,-0.4065835475921631,-0.2173120379447937,-0.22123251855373383,-0.042737096548080444,0.23340719938278198,-0.23 ... (15227 characters truncated) ... 9430084,-0.3152177035808563,-0.23242954909801483,0.043154072016477585,0.1317978948354721,0.31349632143974304,0.012358304113149643,0.2200133204460144]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:42,915 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:43,038 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:43,042 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:43,043 INFO sqlalchemy.engine.Engine [cached since 2.304s ago] ('[0.30853521823883057,0.10436522960662842,-0.04122889041900635,-0.2701837420463562,-0.44001102447509766,-0.22101697325706482,-0.11964864283800125,0.22 ... (15098 characters truncated) ... 6703567505,0.02612697333097458,0.47665658593177795,0.2518117129802704,0.4923500716686249,0.10486433655023575,0.10472077131271362,-0.2292504608631134]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:43,264 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:43,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:43,340 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:43,341 INFO sqlalchemy.engine.Engine [cached since 2.603s ago] ('[0.24296298623085022,0.31339532136917114,-0.6017425656318665,-0.34796276688575745,-0.10126570612192154,0.499662309885025,0.47690802812576294,-0.29783 ... (15137 characters truncated) ... 97937,-0.26683059334754944,0.45590823888778687,0.044783253222703934,0.15447482466697693,0.32805362343788147,-0.13322138786315918,-0.9312480688095093]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:43,569 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:43,627 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:43,629 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:43,631 INFO sqlalchemy.engine.Engine [cached since 2.892s ago] ('[-0.06613872945308685,-0.13981232047080994,-0.5146528482437134,-0.19608134031295776,-0.32641246914863586,-0.2751480042934418,0.5013910531997681,-0.58 ... (15119 characters truncated) ... 4882850647,0.04766249284148216,0.1374051868915558,-0.066322922706604,0.4109650254249573,0.04807055741548538,0.035310786217451096,-0.3596651554107666]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:43,822 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:43,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:43,896 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_address_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:43,897 INFO sqlalchemy.engine.Engine [cached since 3.158s ago] ('[0.24296298623085022,0.31339532136917114,-0.6017425656318665,-0.34796276688575745,-0.10126570612192154,0.499662309885025,0.47690802812576294,-0.29783 ... (15137 characters truncated) ... 97937,-0.26683059334754944,0.45590823888778687,0.044783253222703934,0.15447482466697693,0.32805362343788147,-0.13322138786315918,-0.9312480688095093]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:44,077 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Phụ Trách Kinh Doanh,Công Ty TNHH Thép Tân Thắng Lợi,Kinh doanh,"Tư Vấn Bán Hàng, Phát Triển Thị Trường",Khánh Hòa,Tốt nghiệp cao đẳng trở lên chuyên ngành Thươn...,"Xây dựng, tìm các đối tác khách hàngBáo giá kh...","15,000,000 - 20,000,000",Không yêu cầu kinh nghiệm,0.000000
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Phó Quản Lý Chi Nhánh Thẩm Mỹ,Công Ty TNHH Dược Mỹ Phẩm H-Derma,Sản xuất/Vận hành sản xuất,"Mỹ Phẩm, Giám Sát Bán Hàng, Quản Lý Điều Hành",Khánh Hòa,Tối thiểu trên 01 năm kinh nghiệm làm vị trí t...,"Xây dựng, tổ chức, vận hành giám sát công việc...","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.000000
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,New Product Introduction Engineer - NPI Engineer,Onsemi Viet Nam,Sản xuất,"Electronics, New Product Qualification, Lean S...",Biên Hòa,"Qualifications. BS/MS in Electrical, Mechanica...",Job Description. Introduces and maintains asse...,Thương lượng,Không yêu cầu kinh nghiệm,0.149836
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Tư Vấn Bán Hàng,Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT,"Kinh doanh, Bán lẻ","Tư Vấn Bán Hàng, Bán Lẻ",Hòa Thành,"Nam/Nữ, tuổi từ 18 – 27.Tốt nghiệp THPT trở lê...",Chủ động đón tiếp khách hàng đến với của hàng....,"5,000,000 - 10,000,000",Không yêu cầu kinh nghiệm,0.212294
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Kinh Doanh,Công Ty TNHH Long Hưng Phát,"Bất động sản, Xây dựng","Tư Vấn Bán Hàng, Phát Triển Thị Trường, Nghiên...",Hòa Bình,Có 3 năm kinh nghiệm trong lĩnh vực kinh doanh...,"Tìm hiểu, khai thác và thu thập khách hàng tiề...","5,000,000 - 10,000,000",3-5 năm,0.225754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Kỹ Thuật IT Sửa PC Laptop Máy In,Công Ty TNHH Phát Triển Công Nghệ Trường Thịnh...,"Công nghệ thông tin, Quảng cáo/Marketing/PR","IT Helpdesk, IT Support",Hồ Chí Minh,Có Ít nhất > 1 năm KN làm chuyên viên kỹ thuật...,"Mua bán sửa chữa máy tính bàn pc, laptop, máy ...","5,000,000 - 10,000,000",1-3 năm,0.000000
196,973260,Lê Thanh,Vận tải - Lái xe,24,Quản Lý Kinh Doanh Thu Nhập Từ 20TR,Công Ty TNHH Bảo Hiểm Nhân Thọ Cathay - Việt Nam,bảo hiểm,"Chăm Sóc Khách Hàng, Tư Vấn Bán Hàng, Tư Vấn B...",Hồ Chí Minh,Tốt nghiệp trung cấp trở lên trên 26 tuổi. Đã ...,"Quản lý, đào tạo nhân viên, hỗ trợ tuyển dụng....","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.000000
197,973260,Lê Thanh,Vận tải - Lái xe,24,Store Manager - Cửa Hàng Trưởng,Công ty TNHH Manpower Việt Nam - Hồ Chí Minh,Nhân Sự,"Quản Lý Điều Hành, Giám Sát Bán Hàng, Bán Lẻ",Hồ Chí Minh,At least 1 year of experience in fashion retai...,Stock & Sales Management:. Ensure effective re...,"20,000,000 - 40,000,000",1-3 năm,0.000000
198,973260,Lê Thanh,Vận tải - Lái xe,24,- Nhân Viên Phụ Bếp Part Time,Công ty Cổ phần Đầu tư Thương mại Quốc tế Mặt ...,Thực phẩm/DV ăn uống,"Phụ Bếp, Chế Biến Thực Phẩm, Tư Vấn Bán Hàng",Hồ Chí Minh,Yêu Cầu Công ViệcLàm việc tại: Nhà hàng Hotpot...,Thực hiện sơ chế các nguyên vật liệu dùng đ...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.000000
199,973260,Lê Thanh,Vận tải - Lái xe,24,Chuyên Viên Hr Admin,Công Ty Cổ Phần Trà Vinh Gc,Bất động sản,"Hành chính Văn phòng, Tuyển Dụng (HR)",Hồ Chí Minh,1. Trình độ học vấn:Tốt nghiệp Cao Đẳng trở lê...,1. Quản lý hồ sơ nhân sự:Lưu trữ và quản lý hồ...,"15,000,000 - 20,000,000",1-3 năm,0.000000

In [253]:
job_title_recommendation_results = await Get_multi_recommendations(user_data, model, "phobert", "job title")
job_title_recommendation_results

2024-12-16 01:28:44,198 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:44,201 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:44,202 INFO sqlalchemy.engine.Engine [generated in 0.00212s] ('[-0.10015001893043518,0.28205442428588867,-0.36834749579429626,-0.26571357250213623,-0.38623157143592834,0.29282432794570923,0.33689388632774353,-0.2 ... (15232 characters truncated) ... 7,0.36260896921157837,-0.02490321919322014,-0.0046783313155174255,0.14412973821163177,-0.06681425124406815,-0.40038129687309265,-0.03588034212589264]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:44,413 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:44,517 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:44,521 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:44,522 INFO sqlalchemy.engine.Engine [cached since 0.3222s ago] ('[-0.2109592705965042,0.24085526168346405,-0.20555321872234344,-0.1759704351425171,-0.2923334240913391,0.12692376971244812,-0.2425210177898407,0.03459 ... (15236 characters truncated) ... 22315979,-0.08191844075918198,0.05615362524986267,0.11091980338096619,0.08301806449890137,-0.1011355072259903,-0.06781689077615738,0.163649782538414]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:44,725 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:44,818 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:44,820 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:44,820 INFO sqlalchemy.engine.Engine [cached since 0.6218s ago] ('[-0.15966850519180298,0.24311824142932892,-0.20790040493011475,-0.16275210678577423,-0.2318921834230423,0.1481214016675949,-0.32759523391723633,-0.00 ... (15279 characters truncated) ... 13354,-0.0968548059463501,0.030709687620401382,0.10792162269353867,0.10710778832435608,-0.046724628657102585,-0.05224461853504181,0.1110815480351448]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:45,016 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:45,116 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:45,116 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:45,116 INFO sqlalchemy.engine.Engine [cached since 0.9206s ago] ('[-0.06441046297550201,0.4700511693954468,-0.30808547139167786,-0.3404994308948517,-0.12372718006372452,0.019944585859775543,0.16850127279758453,-0.14 ... (15256 characters truncated) ... 17793,0.039946820586919785,0.051825568079948425,-0.21015320718288422,0.05359819158911705,-0.2685583829879761,-0.2278861254453659,0.23550300300121307]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:45,302 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:45,400 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:45,402 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:45,403 INFO sqlalchemy.engine.Engine [cached since 1.203s ago] ('[-0.15966850519180298,0.24311824142932892,-0.20790040493011475,-0.16275210678577423,-0.2318921834230423,0.1481214016675949,-0.32759523391723633,-0.00 ... (15279 characters truncated) ... 13354,-0.0968548059463501,0.030709687620401382,0.10792162269353867,0.10710778832435608,-0.046724628657102585,-0.05224461853504181,0.1110815480351448]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:45,582 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:45,657 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:45,663 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:45,663 INFO sqlalchemy.engine.Engine [cached since 1.465s ago] ('[-0.0004189610481262207,0.2614620625972748,-0.0638091042637825,-0.14330989122390747,-0.2066432535648346,0.29344385862350464,0.05812986195087433,0.066 ... (15243 characters truncated) ... 38331794739,0.4265889823436737,-0.0527765266597271,-0.248813658952713,0.1252865493297577,-0.05274219065904617,-0.223341703414917,0.02807319164276123]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:45,851 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:45,923 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:45,929 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:45,929 INFO sqlalchemy.engine.Engine [cached since 1.73s ago] ('[-0.16540591418743134,0.22343899309635162,-0.2930469810962677,-0.44357505440711975,-0.25947052240371704,0.1676691770553589,0.3214622735977173,0.08156 ... (15245 characters truncated) ... 57,0.010079987347126007,0.034241534769535065,-0.40118980407714844,0.010399696417152882,0.17101772129535675,-0.005921507719904184,0.05121688172221184]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:46,116 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:46,199 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:46,203 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:46,203 INFO sqlalchemy.engine.Engine [cached since 2.005s ago] ('[-0.14514079689979553,0.5142405033111572,-0.2954248785972595,-0.23958607017993927,-0.17494967579841614,0.12257805466651917,0.29769450426101685,-0.121 ... (15237 characters truncated) ... 5278244,0.1893046647310257,-0.1507548987865448,-0.22334140539169312,0.10849283635616302,-0.15825334191322327,-0.1264989823102951,0.08712957799434662]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:46,391 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:46,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:46,475 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:46,475 INFO sqlalchemy.engine.Engine [cached since 2.278s ago] ('[-0.2747465968132019,0.559154212474823,-0.5025643110275269,-0.35638830065727234,0.0951579213142395,0.15489287674427032,0.2192709892988205,0.056840922 ... (15239 characters truncated) ... 5584927,0.1543894112110138,0.1856459230184555,-0.19754481315612793,0.025043128058314323,-0.4174427390098572,-0.07797089964151382,0.03853984922170639]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:46,664 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:46,757 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:46,759 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS distance
FROM jobs_2
WHERE jobs_2.job_title IS NOT NULL AND trim(regexp_replace(jobs_2.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:28:46,760 INFO sqlalchemy.engine.Engine [cached since 2.56s ago] ('[-0.14447899162769318,0.45794716477394104,-0.3812875747680664,-0.2952266037464142,0.07399209588766098,-0.010846939869225025,0.47383031249046326,-0.07 ... (15273 characters truncated) ... 323,0.25810813903808594,0.008711795322597027,-0.12986299395561218,0.05980595201253891,-0.07006821781396866,-0.21451835334300995,-0.07130040973424911]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:46,944 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính Văn Phòng (Tiếng Anh),Công Ty TNHH Gnf Japan,Kinh doanh,Hành chính Văn phòng,"Số nhà 9, Hẻm 03 Đường Nguyễn Trường Tộ, P Ea ...","Nam hoặc nữ có bằng đại họcThành thạo Word, Ex...",Các nhiệm vụ hành chính cơ bản và hỗ trợ kế to...,"5,000,000 - 10,000,000",1-3 năm,0.234521
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Công ty TNHH HORN ( Việt Nam),Sản xuất/Vận hành sản xuất,"Hành chính Văn phòng, Lễ Tân (Receptionist), V...","An Dương, Hải Phòng",Nam/nữ: Tuổi từ 23. Tiếng Trung/ Tiếng Anh gia...,"Quản lý văn phòng phẩm và tài sản cố định, bao...",Thỏa thuận,1-3 năm,0.240540
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Công Ty TNHH Thương Mại Dược Phẩm Y Tế Việt Hưng,Kinh doanh,"Quản Trị Nhân Sự (HR), Hành chính Văn phòng, V...","Số nhà 52, ngõ 1 Tập thể Trung Đoàn 17, Ngũ Hi...",Tốt nghiệp Cao đẳng trở lên các chuyên ngành: ...,Quản lí và lập kế hoạch tuyển dụng theo nhu cầ...,Thỏa thuận,1-3 năm,0.240540
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Công Ty Cổ Phần Thép Đất Việt,Bán lẻ/Bán sỉ,"Sắp Xếp Lịch Hẹn, Đón Khách, Admin, Hành Chính...","Số 18 phố Quần Ngựa, Liễu Giai, Ba Đình, Hà Nội",Kinh nghiệm: Không yêu cầu. Yêu cầu bằng cấp: ...,Sắp xếp lịch và tiếp đón khách của Công ty. Tr...,Thương lượng,Không yêu cầu kinh nghiệm,0.240540
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Công ty CPDV Hàng không Thăng Long,Trống,"Hành chính Văn phòng, Lễ Tân (Receptionist), V...",Hồ Chí Minh,"Yêu Cầu Công ViệcNam/ Nữ, 23 đến 30 tuổi.Tốt n...","Mô tả Công việcTheo dõi, quản lý mua sắm vật t...","10,000,000 - 15,000,000",Không yêu cầu kinh nghiệm,0.240540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe,Trường Tiểu Học Nguyễn Siêu,Giáo dục/Đào Tạo,"Lái Xe Chuyên Nghiệp, Lái Xe, Quản Lý Xe, Bảo ...","Cầu Giấy, Hà Nội, Việt Nam",Yêu cầu ứng viên. Độ tuổi: Từ 25 đến 45 tuổi. ...,. Lái xe cho Chủ tịch Hội đồng Trường hàng ngà...,"Trên 40,000,000",Không yêu cầu kinh nghiệm,0.390532
196,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe,Công Ty Cổ Phần Tập Đoàn Phú Minh Sơn,"Kinh doanh, Xây dựng","Lái Xe Tải, Vận Tải","7779 Hoàng Quốc Việt, Cầu Giấy, Hà Nội","Nam, tuổi từ 25 35. Bằng lái xe hạng B2. Có tố...","Thực hiện đưa đón, chuyên chở Ban Lãnh đạo và ...","5,000,000 - 10,000,000",Dưới 1 năm,0.390532
197,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng Part-time, Thời vụ môi trườ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Thủ Đức,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng Nhân sự quận Thủ ...,"1,000,000 - 5,000,000",Dưới 1 năm,0.390721
198,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng Part-time, Thời vụ môi trườ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Quận 10,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng Nhân sự quận 9 ] ...,"1,000,000 - 5,000,000",Dưới 1 năm,0.390721
199,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng Part-time, Thời vụ môi trườ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Bình Thạnh,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng Nhân sự quận Bình...,"1,000,000 - 5,000,000",Dưới 1 năm,0.390721

In [254]:
combined_recommendation_results = await Get_multi_recommendations(user_data, model, "phobert", "combined")
combined_recommendation_results

2024-12-16 01:28:47,418 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:47,427 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS job_title_distance, jobs_2.industry_vector <=> $2 AS industry_distance, jobs_2.job_skill_vector <=> $3 AS job_skill_distance, jobs_2.job_address_vector <=> $4 AS job_address_distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND jobs_2.job_title IS NOT NULL AND jobs_2.job_skill IS NOT NULL AND jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_2.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_2.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_2.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:47,428 INFO sqlalchemy.engine.Engine [generated in 0.00472s] ('[-0.10015001893043518,0.28205442428588867,-0.36834749579429626,-0.26571357250213623,-0.38623157143592834,0.29282432794570923,0.33689388632774353,-0.2 ... (15232 characters truncated) ... 7,0.36260896921157837,-0.02490321919322014,-0.0046783313155174255,0.14412973821163177,-0.06681425124406815,-0.40038129687309265,-0.03588034212589264]', '[-0.06321824342012405,0.09771978855133057,-0.3152889609336853,-0.5855997800827026,-0.09530745446681976,-0.08576858043670654,0.27699097990989685,-0.39 ... (15233 characters truncated) ... 943268,0.06348533928394318,-0.02573351375758648,0.18512959778308868,0.06239134818315506,0.08782588690519333,-0.0886157751083374,-0.13312868773937225]', '[-0.13463221490383148,0.3770056366920471,-0.14832065999507904,-0.20196151733398438,-0.06632264703512192,0.2360406368970871,0.16971825063228607,-0.184 ... (15305 characters truncated) ... 85254,0.13903875648975372,0.02522362396121025,-0.001377671374939382,-0.06534132361412048,0.10922528058290482,0.01811571978032589,0.10253522545099258]', '[-0.4315844178199768,0.06216150522232056,-0.555944561958313,-0.3563973903656006,-0.12172585725784302,0.03407549858093262,0.39096468687057495,-0.34153 ... (15193 characters truncated) ... 6064,-0.1326526254415512,-0.08601121604442596,0.01737871952354908,0.037189237773418427,-0.12216392904520035,-0.06346528232097626,0.17314574122428894]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:47,863 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:48,202 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:48,206 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS job_title_distance, jobs_2.industry_vector <=> $2 AS industry_distance, jobs_2.job_skill_vector <=> $3 AS job_skill_distance, jobs_2.job_address_vector <=> $4 AS job_address_distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND jobs_2.job_title IS NOT NULL AND jobs_2.job_skill IS NOT NULL AND jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_2.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_2.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_2.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:48,207 INFO sqlalchemy.engine.Engine [cached since 0.7852s ago] ('[-0.2109592705965042,0.24085526168346405,-0.20555321872234344,-0.1759704351425171,-0.2923334240913391,0.12692376971244812,-0.2425210177898407,0.03459 ... (15236 characters truncated) ... 22315979,-0.08191844075918198,0.05615362524986267,0.11091980338096619,0.08301806449890137,-0.1011355072259903,-0.06781689077615738,0.163649782538414]', '[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[-0.10907608270645142,0.19657497107982635,-0.1308009773492813,-0.15622961521148682,-0.08718818426132202,0.14712946116924286,0.26696673035621643,-0.13 ... (15331 characters truncated) ... ,0.01545996218919754,-0.05841980502009392,0.030863478779792786,-0.0033835344947874546,0.05285371467471123,-0.0029793246649205685,0.24307742714881897]', '[0.24296298623085022,0.31339532136917114,-0.6017425656318665,-0.34796276688575745,-0.10126570612192154,0.499662309885025,0.47690802812576294,-0.29783 ... (15137 characters truncated) ... 97937,-0.26683059334754944,0.45590823888778687,0.044783253222703934,0.15447482466697693,0.32805362343788147,-0.13322138786315918,-0.9312480688095093]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:48,612 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:48,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:48,998 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS job_title_distance, jobs_2.industry_vector <=> $2 AS industry_distance, jobs_2.job_skill_vector <=> $3 AS job_skill_distance, jobs_2.job_address_vector <=> $4 AS job_address_distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND jobs_2.job_title IS NOT NULL AND jobs_2.job_skill IS NOT NULL AND jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_2.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_2.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_2.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:48,999 INFO sqlalchemy.engine.Engine [cached since 1.577s ago] ('[-0.15966850519180298,0.24311824142932892,-0.20790040493011475,-0.16275210678577423,-0.2318921834230423,0.1481214016675949,-0.32759523391723633,-0.00 ... (15279 characters truncated) ... 13354,-0.0968548059463501,0.030709687620401382,0.10792162269353867,0.10710778832435608,-0.046724628657102585,-0.05224461853504181,0.1110815480351448]', '[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[-0.16233594715595245,0.30581751465797424,-0.0882175862789154,-0.17515769600868225,-0.09683220088481903,0.16216926276683807,0.2828039526939392,-0.232 ... (15293 characters truncated) ... 6231,0.06083998084068298,0.036295998841524124,0.10619009286165237,-0.05518558248877525,0.10062774270772934,-0.021680178120732307,0.19175098836421967]', '[-0.11162137985229492,0.2825515568256378,-0.46038442850112915,-0.4959486126899719,-0.19248847663402557,0.16793552041053772,0.08705595135688782,-0.476 ... (15167 characters truncated) ... 26683044,-0.4812406003475189,-0.11878978461027145,-0.17263911664485931,0.4114019274711609,0.588208794593811,0.09082727134227753,-0.25114068388938904]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:49,417 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:49,741 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:49,748 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS job_title_distance, jobs_2.industry_vector <=> $2 AS industry_distance, jobs_2.job_skill_vector <=> $3 AS job_skill_distance, jobs_2.job_address_vector <=> $4 AS job_address_distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND jobs_2.job_title IS NOT NULL AND jobs_2.job_skill IS NOT NULL AND jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_2.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_2.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_2.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:49,749 INFO sqlalchemy.engine.Engine [cached since 2.326s ago] ('[-0.06441046297550201,0.4700511693954468,-0.30808547139167786,-0.3404994308948517,-0.12372718006372452,0.019944585859775543,0.16850127279758453,-0.14 ... (15256 characters truncated) ... 17793,0.039946820586919785,0.051825568079948425,-0.21015320718288422,0.05359819158911705,-0.2685583829879761,-0.2278861254453659,0.23550300300121307]', '[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[-0.10907608270645142,0.19657497107982635,-0.1308009773492813,-0.15622961521148682,-0.08718818426132202,0.14712946116924286,0.26696673035621643,-0.13 ... (15331 characters truncated) ... ,0.01545996218919754,-0.05841980502009392,0.030863478779792786,-0.0033835344947874546,0.05285371467471123,-0.0029793246649205685,0.24307742714881897]', '[0.24296298623085022,0.31339532136917114,-0.6017425656318665,-0.34796276688575745,-0.10126570612192154,0.499662309885025,0.47690802812576294,-0.29783 ... (15137 characters truncated) ... 97937,-0.26683059334754944,0.45590823888778687,0.044783253222703934,0.15447482466697693,0.32805362343788147,-0.13322138786315918,-0.9312480688095093]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:50,193 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:50,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:50,585 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS job_title_distance, jobs_2.industry_vector <=> $2 AS industry_distance, jobs_2.job_skill_vector <=> $3 AS job_skill_distance, jobs_2.job_address_vector <=> $4 AS job_address_distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND jobs_2.job_title IS NOT NULL AND jobs_2.job_skill IS NOT NULL AND jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_2.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_2.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_2.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:50,586 INFO sqlalchemy.engine.Engine [cached since 3.164s ago] ('[-0.15966850519180298,0.24311824142932892,-0.20790040493011475,-0.16275210678577423,-0.2318921834230423,0.1481214016675949,-0.32759523391723633,-0.00 ... (15279 characters truncated) ... 13354,-0.0968548059463501,0.030709687620401382,0.10792162269353867,0.10710778832435608,-0.046724628657102585,-0.05224461853504181,0.1110815480351448]', '[-0.25587520003318787,0.07800815999507904,-0.3035251498222351,-0.47948238253593445,0.22350822389125824,-0.0959252119064331,0.3803953528404236,-0.0340 ... (15274 characters truncated) ... 025182724,0.10047418624162674,0.103145532310009,0.025861511006951332,0.10468460619449615,-0.2291753590106964,0.1261250525712967,-0.09585405886173248]', '[-0.16233594715595245,0.30581751465797424,-0.0882175862789154,-0.17515769600868225,-0.09683220088481903,0.16216926276683807,0.2828039526939392,-0.232 ... (15293 characters truncated) ... 6231,0.06083998084068298,0.036295998841524124,0.10619009286165237,-0.05518558248877525,0.10062774270772934,-0.021680178120732307,0.19175098836421967]', '[-0.11162137985229492,0.2825515568256378,-0.46038442850112915,-0.4959486126899719,-0.19248847663402557,0.16793552041053772,0.08705595135688782,-0.476 ... (15167 characters truncated) ... 26683044,-0.4812406003475189,-0.11878978461027145,-0.17263911664485931,0.4114019274711609,0.588208794593811,0.09082727134227753,-0.25114068388938904]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:51,045 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:51,405 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:51,410 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS job_title_distance, jobs_2.industry_vector <=> $2 AS industry_distance, jobs_2.job_skill_vector <=> $3 AS job_skill_distance, jobs_2.job_address_vector <=> $4 AS job_address_distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND jobs_2.job_title IS NOT NULL AND jobs_2.job_skill IS NOT NULL AND jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_2.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_2.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_2.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:28:51,411 INFO sqlalchemy.engine.Engine [cached since 3.989s ago] ('[-0.0004189610481262207,0.2614620625972748,-0.0638091042637825,-0.14330989122390747,-0.2066432535648346,0.29344385862350464,0.05812986195087433,0.066 ... (15243 characters truncated) ... 38331794739,0.4265889823436737,-0.0527765266597271,-0.248813658952713,0.1252865493297577,-0.05274219065904617,-0.223341703414917,0.02807319164276123]', '[-0.06354555487632751,0.47448477149009705,-0.32635870575904846,-0.983210027217865,0.2931039333343506,0.009300719015300274,0.16806668043136597,-0.0854 ... (15205 characters truncated) ... 2545319,0.2824117839336395,-0.012228808365762234,0.3528237044811249,0.1416679173707962,0.20736245810985565,-0.03436946123838425,-0.37115004658699036]', '[-0.15060026943683624,0.4187646806240082,-0.16954539716243744,-0.14392809569835663,-0.150350421667099,0.28284043073654175,0.2818908095359802,-0.15419 ... (15323 characters truncated) ... 910072,0.13831885159015656,0.02247793599963188,0.028827274218201637,-0.005878403317183256,0.132280632853508,-0.16084729135036469,0.22827167809009552]', '[0.050241004675626755,0.0305830929428339,-0.4065835475921631,-0.2173120379447937,-0.22123251855373383,-0.042737096548080444,0.23340719938278198,-0.23 ... (15227 characters truncated) ... 9430084,-0.3152177035808563,-0.23242954909801483,0.043154072016477585,0.1317978948354721,0.31349632143974304,0.012358304113149643,0.2200133204460144]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:28:51,827 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:28:52,172 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:28:52,178 INFO sqlalchemy.engine.Engine SELECT jobs_2.id, jobs_2.url, jobs_2.job_title, jobs_2.company_name, jobs_2.industry, jobs_2.company_address, jobs_2.job_description, jobs_2.job_requirements, jobs_2.benefits, jobs_2.salary, jobs_2.expire_date, jobs_2.employee_rank, jobs_2.job_skill, jobs_2.job_field, jobs_2.years_of_experience, jobs_2.job_address, jobs_2.job_title_vector, jobs_2.industry_vector, jobs_2.job_skill_vector, jobs_2.job_address_vector, jobs_2.job_title_vector <=> $1 AS job_title_distance, jobs_2.industry_vector <=> $2 AS industry_distance, jobs_2.job_skill_vector <=> $3 AS job_skill_distance, jobs_2.job_address_vector <=> $4 AS job_address_distance
FROM jobs_2
WHERE jobs_2.industry IS NOT NULL AND jobs_2.job_title IS NOT NULL AND jobs_2.job_skill IS NOT NULL AND jobs_2.job_address IS NOT NULL AND trim(regexp_replace(jobs_2.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_2.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_2.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_2.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính Văn Phòng (Tiếng Anh),Công Ty TNHH Gnf Japan,Kinh doanh,Hành chính Văn phòng,"Số nhà 9, Hẻm 03 Đường Nguyễn Trường Tộ, P Ea ...","Nam hoặc nữ có bằng đại họcThành thạo Word, Ex...",Các nhiệm vụ hành chính cơ bản và hỗ trợ kế to...,"5,000,000 - 10,000,000",1-3 năm,0.234521
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Công Ty TNHH Thương Mại Dược Phẩm Y Tế Việt Hưng,Kinh doanh,"Quản Trị Nhân Sự (HR), Hành chính Văn phòng, V...","Số nhà 52, ngõ 1 Tập thể Trung Đoàn 17, Ngũ Hi...",Tốt nghiệp Cao đẳng trở lên các chuyên ngành: ...,Quản lí và lập kế hoạch tuyển dụng theo nhu cầ...,Thỏa thuận,1-3 năm,0.240540
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Công Ty Cổ Phần Đầu Tư Quốc Tế - Mega Gangnam,Kinh doanh,Hành chính Văn phòng,"454 Xã Đàn, Nam Đồng, Đống Đa, Hà Nội","Nữ, ngoại hình sángTốt nghiệp Trung cấp trở lê...","Soạn thảo, lưu trữ, sắp xếp giấy tờ, hợp đồng,...","5,000,000 - 10,000,000",1-3 năm,0.240540
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Công Ty Cổ Phần Tập Đoàn Công Nghiệp Việt,"Thương mại, Xây dựng xây lắp công nghiệp, Gia ...","Quản Trị Nhân Sự (HR), Hành chính Văn phòng, L...","Tầng 8 tòa nhà Silver Wings, 137A Nguyễn Văn C...",1. Kiến thức và kinh nghiệm. Trình độ học vấn:...,"1. Quản lý hồ sơ, giấy tờ:. Trực tiếp thực hiệ...","10,000,000 - 15,000,000",Dưới 1 năm,0.240540
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Hành Chính,Tập Đoàn Investcorp,Kỹ thuật xây dựng/Cơ sở hạ tầng,"Hành Chính, Truyền Thông, Truyền Thông Nội Bộ,...","Toà nhà INVESTCORP, Lô A15-16, Đường Vạn Phúc,...",Yêu cầu:. Tốt nghiệp đại học/cao đẳng. Ưu tiên...,Phụ trách công tác truyền thông của Tập đoàn: ...,Thương lượng,1-3 năm,0.240540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe,Công Ty Cổ Phần Tập Đoàn Phú Minh Sơn,"Kinh doanh, Xây dựng","Lái Xe Tải, Vận Tải","7779 Hoàng Quốc Việt, Cầu Giấy, Hà Nội","Nam, tuổi từ 25 35. Bằng lái xe hạng B2. Có tố...","Thực hiện đưa đón, chuyên chở Ban Lãnh đạo và ...","5,000,000 - 10,000,000",Dưới 1 năm,0.390532
196,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Lái Xe,Công Ty Cổ Phần Vinhomes,"Kinh doanh, Bất động sản",Lái Xe,"Đảo Vũ Yên ,Huyện Thủy Nguyên, Thành phố Hải P...","Nam, có bằng lái xe C. Ưu tiên ứng viên có kin...","Lái xe tưới rửa đường, thu gom rác, quét đường...",Thỏa thuận,Không yêu cầu kinh nghiệm,0.390532
197,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng Part-time, Thời vụ môi trườ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Thủ Đức,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng Nhân sự quận Thủ ...,"1,000,000 - 5,000,000",Dưới 1 năm,0.390721
198,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng Part-time, Thời vụ môi trườ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Bình Thạnh,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng Nhân sự quận Bình...,"1,000,000 - 5,000,000",Dưới 1 năm,0.390721
199,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng Part-time, Thời vụ môi trườ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Quận 10,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng Nhân sự quận 9 ] ...,"1,000,000 - 5,000,000",Dưới 1 năm,0.390721

In [255]:
skill_recommendation_results.to_csv("results/phobert/skill_recommendation_results.csv", index=False)
industry_recommendation_results.to_csv("results/phobert/industry_recommendation_results.csv", index=False)
address_recommendation_results.to_csv("results/phobert/address_recommendation_results.csv", index=False)
job_title_recommendation_results.to_csv("results/phobert/job_title_recommendation_results.csv", index=False)
combined_recommendation_results.to_csv("results/phobert/combined_recommendation_results.csv", index=False)

## XLM RoBERTa

In [256]:
model = SentenceTransformer('xlm-roberta-base')

No sentence-transformers model found with name xlm-roberta-base. Creating a new one with mean pooling.

In [257]:
skill_recommendation_results = await Get_multi_recommendations(user_data, model, "xlm_roberta", "skill")
skill_recommendation_results

2024-12-16 01:29:00,296 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:00,299 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:00,301 INFO sqlalchemy.engine.Engine [cached since 1957s ago] ('[-0.018804701045155525,0.015157408080995083,0.025009622797369957,0.02211725153028965,0.14088299870491028,0.023517217487096786,-0.019457638263702393,0 ... (15721 characters truncated) ... 64537,0.011680938303470612,0.02607938088476658,-0.06410155445337296,-0.06805568188428879,0.18780550360679626,0.04441031813621521,0.10974704474210739]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:00,598 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:00,743 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:00,746 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:00,747 INFO sqlalchemy.engine.Engine [cached since 1958s ago] ('[-0.014934410341084003,0.02255976013839245,0.008948718197643757,0.043213170021772385,0.10773409157991409,-0.037800755351781845,0.0052431789226830006, ... (15723 characters truncated) ... 3954,0.04702131450176239,0.025883236899971962,-0.03551550209522247,-0.02059687301516533,0.10742154717445374,0.038523875176906586,0.05587674677371979]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:00,951 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:01,116 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:01,117 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:01,119 INFO sqlalchemy.engine.Engine [cached since 1958s ago] ('[-0.01222548820078373,-0.0033915683161467314,0.023700091987848282,0.0372450165450573,0.15185363590717316,-0.004481117706745863,-0.027787746861577034, ... (15711 characters truncated) ... 438,0.002827126532793045,0.009923257865011692,-0.04315060377120972,-0.006394877098500729,0.18459312617778778,0.024419743567705154,0.1233343631029129]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:01,304 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:01,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:01,433 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:01,435 INFO sqlalchemy.engine.Engine [cached since 1959s ago] ('[-0.014934410341084003,0.02255976013839245,0.008948718197643757,0.043213170021772385,0.10773409157991409,-0.037800755351781845,0.0052431789226830006, ... (15723 characters truncated) ... 3954,0.04702131450176239,0.025883236899971962,-0.03551550209522247,-0.02059687301516533,0.10742154717445374,0.038523875176906586,0.05587674677371979]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:01,631 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:01,806 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:01,809 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:01,810 INFO sqlalchemy.engine.Engine [cached since 1959s ago] ('[-0.01222548820078373,-0.0033915683161467314,0.023700091987848282,0.0372450165450573,0.15185363590717316,-0.004481117706745863,-0.027787746861577034, ... (15711 characters truncated) ... 438,0.002827126532793045,0.009923257865011692,-0.04315060377120972,-0.006394877098500729,0.18459312617778778,0.024419743567705154,0.1233343631029129]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:02,009 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:02,175 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:02,179 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:02,180 INFO sqlalchemy.engine.Engine [cached since 1959s ago] ('[-0.03651326894760132,0.015835808590054512,0.02335762418806553,0.024613702669739723,0.05863119289278984,0.0252580177038908,0.005612109787762165,0.090 ... (15716 characters truncated) ... 756134,0.01858275942504406,0.000628363573923707,-0.06127859652042389,0.05581781640648842,0.13353262841701508,0.04267681762576103,0.07461181282997131]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:02,431 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:02,592 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:02,592 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:02,596 INFO sqlalchemy.engine.Engine [cached since 1960s ago] ('[-0.003975097555667162,0.0405363067984581,0.03958672657608986,0.0172564834356308,0.15602684020996094,0.04208415746688843,-0.029044903814792633,0.1177 ... (15661 characters truncated) ... 7414,0.00281706964597106,0.009301291778683662,-0.062337856739759445,-0.01082281768321991,0.18546615540981293,0.03064895235002041,0.16737663745880127]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:02,777 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:02,922 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:02,928 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:02,928 INFO sqlalchemy.engine.Engine [cached since 1960s ago] ('[0.011370395310223103,0.029383284971117973,0.01495433785021305,0.04257270693778992,0.13883624970912933,0.010153389535844326,0.005539220292121172,0.05 ... (15723 characters truncated) ... 9272,0.005084601230919361,0.0020440651569515467,-0.04964635148644447,0.024441663175821304,0.17882129549980164,0.05144162476062775,0.1506335735321045]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:03,140 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:03,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:03,315 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:03,315 INFO sqlalchemy.engine.Engine [cached since 1961s ago] ('[-0.01031493954360485,0.04261789470911026,0.02730666659772396,0.02269822359085083,0.1161050945520401,-0.02946830540895462,-0.02600691467523575,0.1369 ... (15694 characters truncated) ... ,-0.0008564398158341646,0.009279957041144371,-0.058089353144168854,0.029008852317929268,0.14974667131900787,0.030574986711144447,0.07897549122571945]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:03,501 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:03,669 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:03,670 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_skill_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_skill IS NOT NULL AND trim(regexp_replace(jobs_3.job_skill, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:03,670 INFO sqlalchemy.engine.Engine [cached since 1961s ago] ('[-0.023767469450831413,0.03186061605811119,0.004050766117870808,0.04325913265347481,0.0824277400970459,-0.020844629034399986,-0.005701029673218727,0. ... (15733 characters truncated) ... 14,0.006937684491276741,-0.008095630444586277,-0.054687369614839554,-0.03984079882502556,0.16718824207782745,0.024248182773590088,0.1078561469912529]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:03,859 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,"Giám Sát Nhà Phân Phối (Nghệ An, Hà Tĩnh)",Công Ty Cổ Phần Sữa Việt Nam (Vinamilk),Hàng tiêu dùng,"Kỹ năng giao tiếp, Kỹ năng nắm bắt và giải quy...","Hà Tĩnh, Việt Nam","HỌC VẤN & CHUYÊN NGÀNH:. Tốt nghiệp Đại học, ư...","KHU VỰC: Vinh, Quỳnh Lưu, Anh Sơn (Nghệ An) và...",Thương lượng,3-5 năm,0.002492
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Giám Sát Nhà Phân Phối - Tây Ninh,Công Ty Cổ Phần Sữa Việt Nam (Vinamilk),Hàng tiêu dùng,"Kỹ năng giao tiếp, Kỹ năng nắm bắt và giải quy...","Tây Ninh, Vietnam","HỌC VẤN & CHUYÊN NGÀNH:. Tốt nghiệp Đại học, ư...",Chịu trách nhiệm trước Trưởng bán hàng Vùn...,Thương lượng,3-5 năm,0.002525
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Phòng Kinh Doanh MT (Toàn Quốc),Stavian Group,Tài Chính,"Kỹ năng bán hàng, Kỹ năng bán hàng, Kỹ năng gi...","12A Vincom Center, 72 Lê Thánh Tôn, phường Bến...","1. Kiến thức: Kinh doanh, tài chính, chăm sóc ...",1. Mục tiêu: Xây dựng và phát triển hệ thống k...,Thương lượng,5-10 năm,0.002581
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Giám sát Nhà phân phối - Bà Rịa Vũng Tàu,Công Ty Cổ Phần Sữa Việt Nam (Vinamilk),Hàng tiêu dùng,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Kỹ năng ...",Bà Rịa - Vũng Tàu,"HỌC VẤN & CHUYÊN NGÀNH:. Tốt nghiệp Đại học, ư...",Chịu trách nhiệm trước Trưởng bán hàng Vùn...,Thương lượng,3-5 năm,0.002632
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trưởng Nhóm Sự Kiện,Hệ thống Giáo Dục Edufit,Giáo dục/Đào Tạo,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Kỹ năng ...","lô PT-01, KĐT Vinhomes Ocean Park, Đa Tốn, Gia...",Tốt nghiệp đại học trở lên. Khả năng sử dụng t...,Tổ chức/Thực hiện/Giám sát/Quản lý công việc S...,"Trên 40,000,000",1-3 năm,0.002678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Chuyên Viên Tuyển Dụng (Mảng Nội thất - Lương ...,Công Ty TNHH PNK,Nội thất/Gỗ,"Kỹ năng giao tiếp, Kỹ năng giao tiếp, Kỹ năng ...","Showroom – KĐT Gamuda, phường Trần Phú, quận H...",Tốt nghiệp từ Cao Đẳng trở lên. Có từ 03 năm k...,"Lập kế hoạch tuyển dụng, ngân sách tuyển dụng ...","10,000,000 - 15,000,000",3-5 năm,0.003876
196,973260,Lê Thanh,Vận tải - Lái xe,24,Business Development Manager (Attractive Salary),Công Ty Cổ Phần Seadent,Dịch vụ Y tế/Chăm sóc sức khỏe,"Kỹ năng lập kế hoạch, Kỹ năng tư duy dịch vụ, ...","13 Đặng Tất, Tân Định, Quận 1, Thành phố Hồ Ch...",JOB REQUIREMENTS. Bachelor’s Degree in Busines...,1. Product Management:. Develop and manage the...,Thương lượng,3-5 năm,0.003912
197,973260,Lê Thanh,Vận tải - Lái xe,24,Admin Dự Án,CÔNG TY TNHH MỘT THÀNH VIÊN KIẾN TRÚC LOGIC,Kiến trúc/Thiết kế nội thất,"Kỹ năng giao tiêp, Kỹ năng đàm phán, Kỹ năng đ...","02 Trương Quyền, P.Võ Thị Sáu, Quận 3, TP.HCM",BẮT BUỘC. Có kinh nghiệm ở vị trí thư ký dự án...,"Làm hồ sơ thanh toán, quyết toán, của dự án vớ...","5,000,000 - 10,000,000",Không yêu cầu kinh nghiệm,0.003967
198,973260,Lê Thanh,Vận tải - Lái xe,24,Trưởng Phòng Kinh Doanh Kỹ Thuật Dự Án (Khu vự...,Công Ty TNHH Điều Hòa Gree (Việt Nam),Điện/Điện tử,"Chịu trách nhiệm công việc, Kinh doanh dự án, ...","Tầng 9, tòa nhà Bạch Đằng, số 268 Trần Nguyên ...",Có kinh nghiệm làm việc ở vị trí điều hòa thươ...,Có kinh nghiệm làm việc dự án. Có mối quan hệ ...,"15,000,000 - 20,000,000",3-5 năm,0.003978
199,973260,Lê Thanh,Vận tải - Lái xe,24,Account Manager,Công Ty TNHH Truong Dinh Holding (Tdh),Điện/Điện tử,"Giao Tiếp Tốt, Tiếng anh giao tiếp tốt, Khả nă...","11B Nguyễn Bỉnh Khiêm, Phường Bến Nghé, Quận 1...",Tốt nghiệp Đại học trở lên chuyên ngành kỹ thu...,TÓM TẮT CÔNG VIỆC. Chịu trách nhiệm hỗ trợ hoạ...,Thương lượng,5-10 năm,0.004018

In [258]:
address_recommendation_results = await Get_multi_recommendations(user_data, model, "xlm_roberta", "location")
address_recommendation_results

2024-12-16 01:29:03,961 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:03,963 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:03,965 INFO sqlalchemy.engine.Engine [cached since 1943s ago] ('[0.011592311784625053,0.09437571465969086,0.029185447841882706,-0.0574013814330101,0.09281326830387115,0.058053914457559586,-0.010301214642822742,0.0 ... (15700 characters truncated) ... ,0.026530273258686066,0.051562994718551636,-0.02915363758802414,0.030065542086958885,-0.10777418315410614,-0.002629853319376707,0.004285941831767559]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:04,172 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:04,255 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:04,257 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:04,259 INFO sqlalchemy.engine.Engine [cached since 1943s ago] ('[-0.018867839127779007,0.07405892759561539,0.042906422168016434,0.0021274425089359283,0.05600854754447937,-0.013750406913459301,0.006483631674200296, ... (15686 characters truncated) ... 4058,0.04470805451273918,0.10461898893117905,-0.03900070860981941,0.1350812464952469,-0.17264392971992493,-0.023058418184518814,0.004072941839694977]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:04,448 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:04,518 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:04,520 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:04,521 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[0.05031241476535797,0.07993325591087341,0.006331713404506445,-0.007181428372859955,0.10558976233005524,-0.022445837035775185,0.010919999331235886,0. ... (15691 characters truncated) ... 8198,0.01270364411175251,0.044556938111782074,-0.048140671104192734,0.11309847235679626,-0.13822045922279358,0.00741403317078948,0.16046138107776642]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:04,708 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:04,783 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:04,785 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:04,786 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[-0.018867839127779007,0.07405892759561539,0.042906422168016434,0.0021274425089359283,0.05600854754447937,-0.013750406913459301,0.006483631674200296, ... (15686 characters truncated) ... 4058,0.04470805451273918,0.10461898893117905,-0.03900070860981941,0.1350812464952469,-0.17264392971992493,-0.023058418184518814,0.004072941839694977]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:04,993 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:05,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:05,073 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:05,074 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[0.05031241476535797,0.07993325591087341,0.006331713404506445,-0.007181428372859955,0.10558976233005524,-0.022445837035775185,0.010919999331235886,0. ... (15691 characters truncated) ... 8198,0.01270364411175251,0.044556938111782074,-0.048140671104192734,0.11309847235679626,-0.13822045922279358,0.00741403317078948,0.16046138107776642]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:05,268 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:05,352 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:05,354 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:05,355 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[0.0639883428812027,0.03260818123817444,0.01179617177695036,0.004828942008316517,0.11583241075277328,0.00634246040135622,-0.03382515534758568,0.06977 ... (15615 characters truncated) ... 4,-0.042913906276226044,0.05380427837371826,-0.026505816727876663,0.057116974145174026,-0.22169920802116394,0.015101641416549683,0.10308454185724258]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:05,543 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:05,607 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:05,609 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:05,610 INFO sqlalchemy.engine.Engine [cached since 1945s ago] ('[-0.0702332928776741,0.05361352115869522,-0.01591821014881134,-0.012251520529389381,0.004717327654361725,-0.045560725033283234,-0.022131480276584625, ... (15599 characters truncated) ... 02,0.05964725837111473,0.06659068167209625,-0.053353846073150635,-0.11229240149259567,-0.24893374741077423,-0.027715690433979034,0.14143547415733337]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:05,795 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:05,868 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:05,871 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:05,873 INFO sqlalchemy.engine.Engine [cached since 1945s ago] ('[-0.018867839127779007,0.07405892759561539,0.042906422168016434,0.0021274425089359283,0.05600854754447937,-0.013750406913459301,0.006483631674200296, ... (15686 characters truncated) ... 4058,0.04470805451273918,0.10461898893117905,-0.03900070860981941,0.1350812464952469,-0.17264392971992493,-0.023058418184518814,0.004072941839694977]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:06,059 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:06,121 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:06,125 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:06,125 INFO sqlalchemy.engine.Engine [cached since 1945s ago] ('[0.040001846849918365,0.13258403539657593,0.01944601722061634,0.020637236535549164,0.047441549599170685,0.07461082190275192,-0.044696055352687836,0.0 ... (15670 characters truncated) ... 46447,0.02652117609977722,0.07336784899234772,-0.026536278426647186,0.07631592452526093,-0.1806013584136963,0.026607347652316093,0.05579765886068344]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:06,328 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:06,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:06,400 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_address_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.job_address, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:06,401 INFO sqlalchemy.engine.Engine [cached since 1945s ago] ('[-0.018867839127779007,0.07405892759561539,0.042906422168016434,0.0021274425089359283,0.05600854754447937,-0.013750406913459301,0.006483631674200296, ... (15686 characters truncated) ... 4058,0.04470805451273918,0.10461898893117905,-0.03900070860981941,0.1350812464952469,-0.17264392971992493,-0.023058418184518814,0.004072941839694977]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:06,599 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Phó Quản Lý Chi Nhánh Thẩm Mỹ,Công Ty TNHH Dược Mỹ Phẩm H-Derma,Sản xuất/Vận hành sản xuất,"Mỹ Phẩm, Giám Sát Bán Hàng, Quản Lý Điều Hành",Khánh Hòa,Tối thiểu trên 01 năm kinh nghiệm làm vị trí t...,"Xây dựng, tổ chức, vận hành giám sát công việc...","20,000,000 - 40,000,000",Không yêu cầu kinh nghiệm,0.000000
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Phụ Trách Kinh Doanh,Công Ty TNHH Thép Tân Thắng Lợi,Kinh doanh,"Tư Vấn Bán Hàng, Phát Triển Thị Trường",Khánh Hòa,Tốt nghiệp cao đẳng trở lên chuyên ngành Thươn...,"Xây dựng, tìm các đối tác khách hàngBáo giá kh...","15,000,000 - 20,000,000",Không yêu cầu kinh nghiệm,0.000000
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,New Product Introduction Engineer - NPI Engineer,Onsemi Viet Nam,Sản xuất,"Electronics, New Product Qualification, Lean S...",Biên Hòa,"Qualifications. BS/MS in Electrical, Mechanica...",Job Description. Introduces and maintains asse...,Thương lượng,Không yêu cầu kinh nghiệm,0.001145
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Phát Triển Thị Trường Thức Ăn Thủy S...,Công Ty TNHH Thương Mại - Dịch Vụ Diên Khánh,Kinh doanh/Thủy Sản/Nông nghiệp,"Tư Vấn Bán Hàng, Phát Triển Thị Trường",Ninh Thuận,"Độ tuổi 2240;Đã tốt nghiệp Trung cấp, Cao đẳng...","Bán hàng, chăm sóc hệ thống đại lý cũPhát triể...","10,000,000 - 15,000,000",Dưới 1 năm,0.001607
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Phát Triển Thị Trường Thức Ăn Thủy S...,Công Ty TNHH Thương Mại - Dịch Vụ Diên Khánh,Kinh doanh/Thủy Sản/Nông nghiệp,"Tư Vấn Bán Hàng, Phát Triển Thị Trường",Ninh Thuận,"Độ tuổi 2240;Đã tốt nghiệp Trung cấp, Cao đẳng...","Bán hàng, chăm sóc hệ thống đại lý cũPhát triể...","10,000,000 - 15,000,000",Dưới 1 năm,0.001607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Trưởng Phòng Kiểm Soát Chất Lượng,Công Ty TNHH In Bao Bì Toàn Phát,Sản xuất/Vận hành sản xuất,"Vận Hành Sản Xuất, Quản Lý Chất Lượng (QA/QC),...",Hồ Chí Minh,Độ tuổi: dưới 45. Tốt nghiệp đại học trở lên. ...,Xây dựng quy trình và đội ngũ về chất lượng ng...,Thỏa thuận,1-3 năm,0.000000
196,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Kinh Doanh Dự Án Thiết Bị Điện,Công ty TNHH Etinco,Kinh doanh,Tư Vấn Bán Hàng,Hồ Chí Minh,Có kinh nghiệm từ 3 năm trong lĩnh vực kinh do...,"Tìm hiểu, nghiên cứu và nắm vững sản phẩm thươ...","15,000,000 - 20,000,000",3-5 năm,0.000000
197,973260,Lê Thanh,Vận tải - Lái xe,24,Chuyên Viên Điều Tra An Ninh,Công Ty Tài chính TNHH HD SAISON,Kinh doanh,"Phân Tích Tài Chính, Tâm lý học, Luật",Hồ Chí Minh,"1. Trình độ học vấn:Sơ cấp,Trung cấp, Đại học ...",Tiến hành điều tra độc lập đối với các vụ việc...,Thỏa thuận,1-3 năm,0.000000
198,973260,Lê Thanh,Vận tải - Lái xe,24,Kỹ Thuật IT Sửa PC Laptop Máy In,Công Ty TNHH Phát Triển Công Nghệ Trường Thịnh...,"Công nghệ thông tin, Quảng cáo/Marketing/PR","IT Helpdesk, IT Support",Hồ Chí Minh,Có Ít nhất > 1 năm KN làm chuyên viên kỹ thuật...,"Mua bán sửa chữa máy tính bàn pc, laptop, máy ...","5,000,000 - 10,000,000",1-3 năm,0.000000
199,973260,Lê Thanh,Vận tải - Lái xe,24,Chuyên Viên Hr Admin,Công Ty Cổ Phần Trà Vinh Gc,Bất động sản,"Hành chính Văn phòng, Tuyển Dụng (HR)",Hồ Chí Minh,1. Trình độ học vấn:Tốt nghiệp Cao Đẳng trở lê...,1. Quản lý hồ sơ nhân sự:Lưu trữ và quản lý hồ...,"15,000,000 - 20,000,000",1-3 năm,0.000000

In [259]:
industry_recommendation_results = await Get_multi_recommendations(user_data, model, "xlm_roberta", "industry")
industry_recommendation_results

2024-12-16 01:29:06,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:06,799 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:06,799 INFO sqlalchemy.engine.Engine [cached since 1957s ago] ('[0.024326207116246223,0.07340653985738754,-0.003921078983694315,0.04226132482290268,0.08568193763494492,-0.04365711659193039,-0.029844509437680244,0. ... (15630 characters truncated) ... 336,-0.023184577003121376,0.05732118338346481,-0.0848192349076271,0.11898631602525711,-0.11968052387237549,0.004110653419047594,0.028115391731262207]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:07,043 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:07,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:07,131 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:07,131 INFO sqlalchemy.engine.Engine [cached since 1958s ago] ('[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:07,301 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:07,388 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:07,389 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:07,391 INFO sqlalchemy.engine.Engine [cached since 1958s ago] ('[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:07,562 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:07,644 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:07,646 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:07,646 INFO sqlalchemy.engine.Engine [cached since 1958s ago] ('[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:07,807 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:07,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:07,898 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:07,898 INFO sqlalchemy.engine.Engine [cached since 1958s ago] ('[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:08,070 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:08,156 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:08,158 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:08,159 INFO sqlalchemy.engine.Engine [cached since 1959s ago] ('[0.021434025838971138,0.051242318004369736,-0.0135944290086627,0.08065576106309891,-0.01753210462629795,-0.001467921887524426,-0.008451774716377258,0 ... (15603 characters truncated) ... 54,0.016619715839624405,0.03732302039861679,-0.06237822771072388,0.1652267724275589,-0.29848334193229675,-0.0017589583294466138,-0.08537497371435165]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:08,318 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:08,406 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:08,409 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:08,410 INFO sqlalchemy.engine.Engine [cached since 1959s ago] ('[-0.05839516967535019,0.04195476323366165,0.01765977032482624,0.03598669171333313,0.09559372812509537,0.007026388309895992,0.017734792083501816,0.008 ... (15726 characters truncated) ... 17,0.013773208484053612,0.02751961350440979,-0.04094398021697998,-0.08253554999828339,-0.051947951316833496,0.00943802110850811,0.001152816810645163]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:08,570 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:08,659 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:08,659 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:08,659 INFO sqlalchemy.engine.Engine [cached since 1959s ago] ('[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:08,830 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:08,920 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:08,921 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:08,921 INFO sqlalchemy.engine.Engine [cached since 1960s ago] ('[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:09,085 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:09,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:09,165 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.industry_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:09,169 INFO sqlalchemy.engine.Engine [cached since 1960s ago] ('[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:09,341 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Trình Dược Viên Phòng Khám Khu Vực TP HCM – Hà...,Công Ty Cổ phần Dược Phẩm Việt Hà,"Y tế, Bán hàng","Tư Vấn Dược Phẩm, Tư Vấn Bán Hàng, Giám Sát Bá...",Ba Đình,"Tốt nghiệp trung cấp dược, ưu tiên có thêm chu...",Giới thiệu và bán sản phẩm của cty đến hệ thốn...,"10,000,000 - 15,000,000",1-3 năm,0.003510
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Chuyên Viên Chăm Sóc Khách Hàng,De La Sól By SunLife Vietnam,Bảo hiểm/ Tài chính,"Tổng Đài Viên, IT Helpdesk, Chăm Sóc Khách Hàn...","29 Liễu Giai, Ngọc Khánh, Ba Đình, Hà Nội 100000","Tốt nghiệp CĐ / ĐH ,từ 24 tuổi trở lên. Có kỹ ...","Tìm kiếm, mở rộng và xây dựng nguồn khách hàng...","15,000,000 - 20,000,000",1-3 năm,0.003775
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Chuyên Viên Quản Lý Khách Hàng Cấp Cao (Thu Nh...,De La Sól By SunLife Vietnam,Bảo hiểm/ Tài chính,Quan Hệ Khách Hàng,"Tòa nhà Hồng Hà, 25 Lý Thường Kiệt, Phường Pha...",Tốt nghiệp CĐ / ĐH (Ưu tiên ứng viên học các c...,Tư vấn tài chính :. Cung cấp và hỗ trợ các giả...,"15,000,000 - 20,000,000",1-3 năm,0.003775
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Center Director (Giám Đốc Phát Triển Kinh Doanh),De La Sól By SunLife Vietnam,Bảo hiểm/ Tài chính,"Phân Tích Tài Chính, Quản Lý Tín Dụng, Quan Hệ...","29 Liễu Giai, Ngọc Khánh, Ba Đình, Hà Nội 100000",Good English in advantage (Writing & Speaking)...,The incumbent of this job is responsible for d...,"20,000,000 - 40,000,000",1-3 năm,0.003775
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân Viên Lái Xe,Công Ty Cổ Phần Tập Đoàn Phú Minh Sơn,"Kinh doanh, Xây dựng","Lái Xe Tải, Vận Tải","7779 Hoàng Quốc Việt, Cầu Giấy, Hà Nội","Nam, tuổi từ 25 35. Bằng lái xe hạng B2. Có tố...","Thực hiện đưa đón, chuyên chở Ban Lãnh đạo và ...","5,000,000 - 10,000,000",Dưới 1 năm,0.003777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Kho Kiêm Giao Nhận Xe Máy,Công Ty TNHH DV Giao Nhận vận Tải Quốc Tế Thái...,Giao thông vận tải/Thủy lợi,"Thủ Kho, Giao Nhận Hàng, Giám Sát Kho","119 Đào Duy Anh, Phường 09, Quận Phú Nhuận, Th...","Tuổi dưới 40, có sức khỏe tốtNhiệt tình, siêng...",Thực hiện các công việc ở kho: chia chọn sắp x...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.002606
196,973260,Lê Thanh,Vận tải - Lái xe,24,General Accountant Supervisor,Công ty TNHH Chuyển phát nhanh Yamato và 365,Giao thông vận tải/Thủy lợi,"Kế Toán Tổng Hợp, Kiểm Toán, CPA","14th Floor, Handico Tower, Pham Hung Street, M...",Good at English all 4 skillAbility to work und...,Record input expenses in the accounting system...,"20,000,000 - 40,000,000",3-5 năm,0.002606
197,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Kinh Doanh Logistics,Công Ty TNHH AT Á Châu,Giao thông vận tải/Thủy lợi,"Tư Vấn Bán Hàng, Xuất Nhập Khẩu","Thái Hà, Đống Đa","Tốt nghiệp đại học ngành Logistics, Kinh tế , ...","Tìm kiếm, chào bán, tư vấn chuỗi cung ứng, dịc...",Thỏa thuận,1-3 năm,0.002606
198,973260,Lê Thanh,Vận tải - Lái xe,24,Trợ Lý Giám Đốc Kinh Doanh,Công Ty TNHH Icel Logistics,Giao thông vận tải/Thủy lợi,"Vận Hành Sản Xuất, Biên/Phiên Dịch, Thư Ký, Hà...","Tầng 12, Tháp A, Tòa nhà Handiresco, Số 521 Ki...","Ưu tiên có kiến thức cơ bản về logistics, xuất...","Phối hợp cùng các phòng ban để tiếp nhận, xử l...",Thỏa thuận,Không yêu cầu kinh nghiệm,0.002606
199,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Chứng Từ,Công ty TNHH LF Logistics (Việt Nam),Giao thông vận tải/Thủy lợi,"Thương Mại Quốc Tế, Chứng Từ","Đường Số 3 VSIP II, Hòa Phú, Tp. Thủ Dầu Một, ...",Have at least 1 year working in warehousePrefe...,Inbound/Outbound process for Bonded warehouseI...,Thỏa thuận,1-3 năm,0.002606

In [260]:
job_title_recommendation_results = await Get_multi_recommendations(user_data, model, "xlm_roberta", "job title")
job_title_recommendation_results

2024-12-16 01:29:09,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:09,477 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:09,478 INFO sqlalchemy.engine.Engine [cached since 1943s ago] ('[-0.018961165100336075,0.05322413891553879,-0.006321473978459835,0.05661774054169655,0.057976894080638885,0.01587197370827198,-0.012791955843567848,0 ... (15664 characters truncated) ... 4434,-0.021111732348799706,0.01185024157166481,-0.09077911078929901,0.04122644662857056,-0.09235196560621262,0.03039366751909256,0.05424681305885315]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:09,652 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:09,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:09,750 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:09,750 INFO sqlalchemy.engine.Engine [cached since 1943s ago] ('[-0.07347191870212555,0.028001656755805016,0.012823470868170261,0.03548005595803261,0.06521838158369064,-0.025678429752588272,-0.04428153857588768,0. ... (15711 characters truncated) ... 771,0.056195542216300964,-0.029468132182955742,-0.0551912859082222,0.15705500543117523,0.04408073425292969,0.046171240508556366,-0.05110487714409828]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:09,928 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:10,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:10,018 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:10,018 INFO sqlalchemy.engine.Engine [cached since 1943s ago] ('[-0.06795792281627655,0.01552830170840025,0.017460664734244347,0.03919146582484245,0.09135318547487259,-0.021588249132037163,-0.04593852162361145,0.0 ... (15696 characters truncated) ... 4,0.044681400060653687,-0.033795829862356186,-0.045135244727134705,0.1425146907567978,0.042468197643756866,0.048112694174051285,-0.05042682960629463]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:10,199 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:10,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:10,284 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:10,285 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[-0.020800935104489326,0.03264633193612099,-0.004551713354885578,0.05963073670864105,0.0716971680521965,-0.08493103832006454,-0.025523167103528976,0. ... (15718 characters truncated) ... 392,0.07314401865005493,0.015678152441978455,-0.045749813318252563,0.2026207447052002,-0.10078667849302292,0.032760728150606155,-0.03506439924240112]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:10,451 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:10,545 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:10,547 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:10,548 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[-0.06795792281627655,0.01552830170840025,0.017460664734244347,0.03919146582484245,0.09135318547487259,-0.021588249132037163,-0.04593852162361145,0.0 ... (15696 characters truncated) ... 4,0.044681400060653687,-0.033795829862356186,-0.045135244727134705,0.1425146907567978,0.042468197643756866,0.048112694174051285,-0.05042682960629463]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:10,724 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:10,804 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:10,806 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:10,808 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[-0.06463770568370819,0.029536418616771698,0.018085718154907227,0.018697639927268028,0.10233768075704575,0.002272160956636071,0.007369127590209246,0. ... (15727 characters truncated) ... 66228,-0.06660258769989014,0.01132440660148859,-0.06445444375276566,0.07320687919855118,0.07353869080543518,0.04825254902243614,0.059959106147289276]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:10,978 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:11,060 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:11,062 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:11,063 INFO sqlalchemy.engine.Engine [cached since 1944s ago] ('[-0.03480411320924759,0.028688814491033554,0.007362201809883118,-0.013970507308840752,0.027362104505300522,-0.06020936742424965,-0.03532787412405014, ... (15651 characters truncated) ... 0403,0.04924003407359123,0.024287650361657143,-0.05329150706529617,0.2013721764087677,0.025241447612643242,0.04691153019666672,-0.019204555079340935]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:11,228 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:11,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:11,314 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:11,315 INFO sqlalchemy.engine.Engine [cached since 1945s ago] ('[-0.04045603424310684,0.03838646784424782,0.01230738963931799,0.03476433455944061,0.06137366220355034,-0.0673704445362091,-0.012112529017031193,0.046 ... (15725 characters truncated) ... 64,0.03421062231063843,-0.004260901361703873,-0.04355650022625923,0.19858156144618988,-0.05201565846800804,0.025379518046975136,-0.05466100573539734]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:11,484 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:11,566 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:11,568 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:11,569 INFO sqlalchemy.engine.Engine [cached since 1945s ago] ('[0.007548911962658167,0.01850459724664688,-0.004759772215038538,0.03767136111855507,0.046901557594537735,-0.08449147641658783,-0.04149603098630905,-0 ... (15648 characters truncated) ... 46,0.08187219500541687,0.011674284003674984,-0.02788201905786991,0.05192454904317856,-0.17100004851818085,0.037900034338235855,-0.011108413338661194]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:11,735 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:11,820 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:11,822 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS distance
FROM jobs_3
WHERE jobs_3.job_title IS NOT NULL AND trim(regexp_replace(jobs_3.job_title, $2::VARCHAR, $3::VARCHAR, $4::VARCHAR)) != $5::VARCHAR ORDER BY distance
 LIMIT $6::INTEGER
2024-12-16 01:29:11,823 INFO sqlalchemy.engine.Engine [cached since 1945s ago] ('[-0.0723467543721199,0.04460136964917183,0.024438321590423584,0.07268474251031876,0.05064532533288002,-0.030321400612592697,-0.0438145250082016,0.039 ... (15677 characters truncated) ... ,0.010863550938665867,-0.018960777670145035,-0.055184196680784225,0.15556630492210388,-0.07390255481004715,0.08532139658927917,-0.028565512970089912]', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:11,988 INFO sqlalchemy.engine.Engine ROLLBACK

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên tư vấn - bán hàng,Công Ty TNHH Thương Mại Dịch Vụ Công Nghệ Dược...,kinh doanh,"Tư Vấn Bán Hàng, Bán Lẻ","quận Gò Vấp, Hồ Chí Minh","Nam/Nữ Từ 18 – 35 tuổi, có đam mê và nhiệt huy...","Tư vấn khách hàng, giới thiệu sản phẩm của côn...","1,000,000 - 5,000,000",Không yêu cầu kinh nghiệm,0.002167
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Cộng tác viên Nhập liệu tại văn phòng,Công ty CP Công nghệ Phần mềm và Nội dung số OSP,Công nghệ thông tin,"Nhập Liệu, Văn Thư/Lưu Trữ, Thư Viện","Tầng 4, Tòa Garden Hill, Số 99 Trần Bình",Kỹ năng chuyên môn hoặc kỹ năng mềm cần thiết ...,Nhập dữ liệu hộ tịch trên excelĐược hướng dẫn ...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.002169
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên chăm sóc khách hàng,Công Ty Cổ Phần VFL INVEST,Bất động sản,Bán Hàng Qua Điện Thoại (Telesale),"169 Nguyễn Ngọc Vũ, Trung Hoà, Cầu Giấy, Hà Nội","Không yêu cầu kinh nghiệm, chưa có sẽ được cầm...",Gọi điện tìm kiếm khách hàng từ những nguồn da...,"5,000,000 - 10,000,000",Không yêu cầu kinh nghiệm,0.002355
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên đóng gói theo giờ,Công Ty Cổ Phần Gbc Global,Kinh doanh,"Phụ Kho, Công Nhân","Biệt thự Khu đô thị Văn Phú, Hà Đông, Hà Nội","Cẩn thận, tỉ mỉ, trung thực và có trách nhiệm ...",Đóng gói giỏ hàng Tết. Thực hiện công việc đón...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.002609
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên tư vấn bán hàng part time,Công Ty TNHH Thương Mại Dịch Vụ Công Nghệ Dược...,kinh doanh,"Tư Vấn Bán Hàng, Bán Lẻ","quận Gò Vấp, Hồ Chí Minh","Nam/Nữ Từ 18 – 35 tuổi, có đam mê và nhiệt huy...","Tư vấn khách hàng, giới thiệu sản phẩm của côn...","1,000,000 - 5,000,000",Không yêu cầu kinh nghiệm,0.002765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Trưởng Phòng mua hàng nội địa (Công ty Cơ điện),Công Ty Cổ Phần T.T.S.C,Cơ khí/Máy móc/Thiết bị công nghiệp,"Quản Lý, Theo Dõi Đơn Hàng, Purchasing, Cung Ứ...",VP 219 Trung Kính - Cầu Giấy - Hà Nội,Ứng viên có tối thiểu 2 năm làm việc tại vị tr...,"Điều hành, quản lý nhân viên trong phòng thực ...","15,000,000 - 20,000,000",1-3 năm,0.003386
196,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Setting Máy CNC - Làm việc tại Thái ...,Công ty Cổ Phần Hyundai Aluminum vina,Sản xuất,"Chạy máy CNC, Làm Việc Theo Quy Trình, Lập Trì...","Khu Công Nghiệp Điềm Thụy Thái Nguyên, Phú Bìn...","Nam, tốt nghiệp Trung cấp, Cao đẳng hoặc Đại h...","Thực hiện cài đặt và vận hành máy CNC, đảm bảo...","Trên 40,000,000",1-3 năm,0.003408
197,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng tại Tân Bình Part-time, Thờ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Tân Bình,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng ] Nhân viên bán h...,"1,000,000 - 5,000,000",Dưới 1 năm,0.003461
198,973260,Lê Thanh,Vận tải - Lái xe,24,Thực tập sinh tuyển dụng (Mạnh về thiết kế),Công ty Cổ phần Dược phẩm ECO,Y tế,"Tuyển Dụng (HR), Hành chính Văn phòng","198 Hoàng Văn Thụ, P. 9, Quận Phú Nhuận","Ngoại hình dễ nhìn, năng động;. Có laptop cá n...",Phát triển thương hiệu tuyển dụng ( thiết kế c...,"1,000,000 - 5,000,000",Không yêu cầu kinh nghiệm,0.003495
199,973260,Lê Thanh,Vận tải - Lái xe,24,Công ty TNHH sản xuất nhôm Trường Thành cần tu...,Công Ty TNHH Sản Xuất Nhôm Trường Thành,Sản xuất/Vận hành sản xuất,"Vận Hành Sản Xuất, Tư Vấn Bán Hàng","Lô CN 1B, cụm CN Quất Động, Thường Tín, Hà Nội",Bắt buộc biết lái xe ( có bằng B2). Có kinh ng...,"Đi phát triển kênh phân phối bán buôn, bán lẻ....",Thỏa thuận,1-3 năm,0.003509

In [261]:
combined_recommendation_results = await Get_multi_recommendations(user_data, model, "xlm_roberta", "combined")
combined_recommendation_results

2024-12-16 01:29:12,463 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:12,470 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS job_title_distance, jobs_3.industry_vector <=> $2 AS industry_distance, jobs_3.job_skill_vector <=> $3 AS job_skill_distance, jobs_3.job_address_vector <=> $4 AS job_address_distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND jobs_3.job_title IS NOT NULL AND jobs_3.job_skill IS NOT NULL AND jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_3.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_3.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_3.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:29:12,472 INFO sqlalchemy.engine.Engine [cached since 1936s ago] ('[-0.018961165100336075,0.05322413891553879,-0.006321473978459835,0.05661774054169655,0.057976894080638885,0.01587197370827198,-0.012791955843567848,0 ... (15664 characters truncated) ... 4434,-0.021111732348799706,0.01185024157166481,-0.09077911078929901,0.04122644662857056,-0.09235196560621262,0.03039366751909256,0.05424681305885315]', '[0.024326207116246223,0.07340653985738754,-0.003921078983694315,0.04226132482290268,0.08568193763494492,-0.04365711659193039,-0.029844509437680244,0. ... (15630 characters truncated) ... 336,-0.023184577003121376,0.05732118338346481,-0.0848192349076271,0.11898631602525711,-0.11968052387237549,0.004110653419047594,0.028115391731262207]', '[-0.018804701045155525,0.015157408080995083,0.025009622797369957,0.02211725153028965,0.14088299870491028,0.023517217487096786,-0.019457638263702393,0 ... (15721 characters truncated) ... 64537,0.011680938303470612,0.02607938088476658,-0.06410155445337296,-0.06805568188428879,0.18780550360679626,0.04441031813621521,0.10974704474210739]', '[0.011592311784625053,0.09437571465969086,0.029185447841882706,-0.0574013814330101,0.09281326830387115,0.058053914457559586,-0.010301214642822742,0.0 ... (15700 characters truncated) ... ,0.026530273258686066,0.051562994718551636,-0.02915363758802414,0.030065542086958885,-0.10777418315410614,-0.002629853319376707,0.004285941831767559]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:12,880 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:13,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:13,234 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS job_title_distance, jobs_3.industry_vector <=> $2 AS industry_distance, jobs_3.job_skill_vector <=> $3 AS job_skill_distance, jobs_3.job_address_vector <=> $4 AS job_address_distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND jobs_3.job_title IS NOT NULL AND jobs_3.job_skill IS NOT NULL AND jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_3.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_3.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_3.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:29:13,234 INFO sqlalchemy.engine.Engine [cached since 1937s ago] ('[-0.07347191870212555,0.028001656755805016,0.012823470868170261,0.03548005595803261,0.06521838158369064,-0.025678429752588272,-0.04428153857588768,0. ... (15711 characters truncated) ... 771,0.056195542216300964,-0.029468132182955742,-0.0551912859082222,0.15705500543117523,0.04408073425292969,0.046171240508556366,-0.05110487714409828]', '[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[-0.014934410341084003,0.02255976013839245,0.008948718197643757,0.043213170021772385,0.10773409157991409,-0.037800755351781845,0.0052431789226830006, ... (15723 characters truncated) ... 3954,0.04702131450176239,0.025883236899971962,-0.03551550209522247,-0.02059687301516533,0.10742154717445374,0.038523875176906586,0.05587674677371979]', '[-0.018867839127779007,0.07405892759561539,0.042906422168016434,0.0021274425089359283,0.05600854754447937,-0.013750406913459301,0.006483631674200296, ... (15686 characters truncated) ... 4058,0.04470805451273918,0.10461898893117905,-0.03900070860981941,0.1350812464952469,-0.17264392971992493,-0.023058418184518814,0.004072941839694977]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:13,628 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:14,005 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:14,011 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS job_title_distance, jobs_3.industry_vector <=> $2 AS industry_distance, jobs_3.job_skill_vector <=> $3 AS job_skill_distance, jobs_3.job_address_vector <=> $4 AS job_address_distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND jobs_3.job_title IS NOT NULL AND jobs_3.job_skill IS NOT NULL AND jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_3.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_3.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_3.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:29:14,012 INFO sqlalchemy.engine.Engine [cached since 1938s ago] ('[-0.06795792281627655,0.01552830170840025,0.017460664734244347,0.03919146582484245,0.09135318547487259,-0.021588249132037163,-0.04593852162361145,0.0 ... (15696 characters truncated) ... 4,0.044681400060653687,-0.033795829862356186,-0.045135244727134705,0.1425146907567978,0.042468197643756866,0.048112694174051285,-0.05042682960629463]', '[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[-0.01222548820078373,-0.0033915683161467314,0.023700091987848282,0.0372450165450573,0.15185363590717316,-0.004481117706745863,-0.027787746861577034, ... (15711 characters truncated) ... 438,0.002827126532793045,0.009923257865011692,-0.04315060377120972,-0.006394877098500729,0.18459312617778778,0.024419743567705154,0.1233343631029129]', '[0.05031241476535797,0.07993325591087341,0.006331713404506445,-0.007181428372859955,0.10558976233005524,-0.022445837035775185,0.010919999331235886,0. ... (15691 characters truncated) ... 8198,0.01270364411175251,0.044556938111782074,-0.048140671104192734,0.11309847235679626,-0.13822045922279358,0.00741403317078948,0.16046138107776642]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:14,414 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:14,773 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:14,777 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS job_title_distance, jobs_3.industry_vector <=> $2 AS industry_distance, jobs_3.job_skill_vector <=> $3 AS job_skill_distance, jobs_3.job_address_vector <=> $4 AS job_address_distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND jobs_3.job_title IS NOT NULL AND jobs_3.job_skill IS NOT NULL AND jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_3.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_3.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_3.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:29:14,778 INFO sqlalchemy.engine.Engine [cached since 1939s ago] ('[-0.020800935104489326,0.03264633193612099,-0.004551713354885578,0.05963073670864105,0.0716971680521965,-0.08493103832006454,-0.025523167103528976,0. ... (15718 characters truncated) ... 392,0.07314401865005493,0.015678152441978455,-0.045749813318252563,0.2026207447052002,-0.10078667849302292,0.032760728150606155,-0.03506439924240112]', '[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[-0.014934410341084003,0.02255976013839245,0.008948718197643757,0.043213170021772385,0.10773409157991409,-0.037800755351781845,0.0052431789226830006, ... (15723 characters truncated) ... 3954,0.04702131450176239,0.025883236899971962,-0.03551550209522247,-0.02059687301516533,0.10742154717445374,0.038523875176906586,0.05587674677371979]', '[-0.018867839127779007,0.07405892759561539,0.042906422168016434,0.0021274425089359283,0.05600854754447937,-0.013750406913459301,0.006483631674200296, ... (15686 characters truncated) ... 4058,0.04470805451273918,0.10461898893117905,-0.03900070860981941,0.1350812464952469,-0.17264392971992493,-0.023058418184518814,0.004072941839694977]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:15,211 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:15,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:15,637 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS job_title_distance, jobs_3.industry_vector <=> $2 AS industry_distance, jobs_3.job_skill_vector <=> $3 AS job_skill_distance, jobs_3.job_address_vector <=> $4 AS job_address_distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND jobs_3.job_title IS NOT NULL AND jobs_3.job_skill IS NOT NULL AND jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_3.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_3.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_3.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:29:15,638 INFO sqlalchemy.engine.Engine [cached since 1940s ago] ('[-0.06795792281627655,0.01552830170840025,0.017460664734244347,0.03919146582484245,0.09135318547487259,-0.021588249132037163,-0.04593852162361145,0.0 ... (15696 characters truncated) ... 4,0.044681400060653687,-0.033795829862356186,-0.045135244727134705,0.1425146907567978,0.042468197643756866,0.048112694174051285,-0.05042682960629463]', '[0.057316191494464874,0.005459983367472887,0.02128782868385315,0.06034352630376816,0.08212701976299286,-0.058943845331668854,-0.019109271466732025,0. ... (15663 characters truncated) ... 876,0.06754601001739502,0.04653787612915039,-0.030241552740335464,-0.013257766142487526,-0.11675617098808289,0.003240901045501232,-0.017053147777915]', '[-0.01222548820078373,-0.0033915683161467314,0.023700091987848282,0.0372450165450573,0.15185363590717316,-0.004481117706745863,-0.027787746861577034, ... (15711 characters truncated) ... 438,0.002827126532793045,0.009923257865011692,-0.04315060377120972,-0.006394877098500729,0.18459312617778778,0.024419743567705154,0.1233343631029129]', '[0.05031241476535797,0.07993325591087341,0.006331713404506445,-0.007181428372859955,0.10558976233005524,-0.022445837035775185,0.010919999331235886,0. ... (15691 characters truncated) ... 8198,0.01270364411175251,0.044556938111782074,-0.048140671104192734,0.11309847235679626,-0.13822045922279358,0.00741403317078948,0.16046138107776642]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:16,048 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:16,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:16,441 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS job_title_distance, jobs_3.industry_vector <=> $2 AS industry_distance, jobs_3.job_skill_vector <=> $3 AS job_skill_distance, jobs_3.job_address_vector <=> $4 AS job_address_distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND jobs_3.job_title IS NOT NULL AND jobs_3.job_skill IS NOT NULL AND jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_3.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_3.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_3.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER
2024-12-16 01:29:16,442 INFO sqlalchemy.engine.Engine [cached since 1940s ago] ('[-0.06463770568370819,0.029536418616771698,0.018085718154907227,0.018697639927268028,0.10233768075704575,0.002272160956636071,0.007369127590209246,0. ... (15727 characters truncated) ... 66228,-0.06660258769989014,0.01132440660148859,-0.06445444375276566,0.07320687919855118,0.07353869080543518,0.04825254902243614,0.059959106147289276]', '[0.021434025838971138,0.051242318004369736,-0.0135944290086627,0.08065576106309891,-0.01753210462629795,-0.001467921887524426,-0.008451774716377258,0 ... (15603 characters truncated) ... 54,0.016619715839624405,0.03732302039861679,-0.06237822771072388,0.1652267724275589,-0.29848334193229675,-0.0017589583294466138,-0.08537497371435165]', '[-0.03651326894760132,0.015835808590054512,0.02335762418806553,0.024613702669739723,0.05863119289278984,0.0252580177038908,0.005612109787762165,0.090 ... (15716 characters truncated) ... 756134,0.01858275942504406,0.000628363573923707,-0.06127859652042389,0.05581781640648842,0.13353262841701508,0.04267681762576103,0.07461181282997131]', '[0.0639883428812027,0.03260818123817444,0.01179617177695036,0.004828942008316517,0.11583241075277328,0.00634246040135622,-0.03382515534758568,0.06977 ... (15615 characters truncated) ... 4,-0.042913906276226044,0.05380427837371826,-0.026505816727876663,0.057116974145174026,-0.22169920802116394,0.015101641416549683,0.10308454185724258]', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', '[\\n\\r\\u2028]+', '', 'g', '', 20)
2024-12-16 01:29:16,875 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-16 01:29:17,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 01:29:17,239 INFO sqlalchemy.engine.Engine SELECT jobs_3.id, jobs_3.url, jobs_3.job_title, jobs_3.company_name, jobs_3.industry, jobs_3.company_address, jobs_3.job_description, jobs_3.job_requirements, jobs_3.benefits, jobs_3.salary, jobs_3.expire_date, jobs_3.employee_rank, jobs_3.job_skill, jobs_3.job_field, jobs_3.years_of_experience, jobs_3.job_address, jobs_3.job_title_vector, jobs_3.industry_vector, jobs_3.job_skill_vector, jobs_3.job_address_vector, jobs_3.job_title_vector <=> $1 AS job_title_distance, jobs_3.industry_vector <=> $2 AS industry_distance, jobs_3.job_skill_vector <=> $3 AS job_skill_distance, jobs_3.job_address_vector <=> $4 AS job_address_distance
FROM jobs_3
WHERE jobs_3.industry IS NOT NULL AND jobs_3.job_title IS NOT NULL AND jobs_3.job_skill IS NOT NULL AND jobs_3.job_address IS NOT NULL AND trim(regexp_replace(jobs_3.industry, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR)) != $8::VARCHAR AND trim(regexp_replace(jobs_3.job_title, $9::VARCHAR, $10::VARCHAR, $11::VARCHAR)) != $12::VARCHAR AND trim(regexp_replace(jobs_3.job_skill, $13::VARCHAR, $14::VARCHAR, $15::VARCHAR)) != $16::VARCHAR AND trim(regexp_replace(jobs_3.job_address, $17::VARCHAR, $18::VARCHAR, $19::VARCHAR)) != $20::VARCHAR ORDER BY job_title_distance, industry_distance, job_skill_distance, job_address_distance
 LIMIT $21::INTEGER

,User ID,User Name,Industry,Age,Job Title Recommended,Company Name,Industry Recommended,Skills Recommended,Address Recommended,Job Requierements,Job Description,Job Salary,Job Years of Experience,Distance
0,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên tư vấn - bán hàng,Công Ty TNHH Thương Mại Dịch Vụ Công Nghệ Dược...,kinh doanh,"Tư Vấn Bán Hàng, Bán Lẻ","quận Gò Vấp, Hồ Chí Minh","Nam/Nữ Từ 18 – 35 tuổi, có đam mê và nhiệt huy...","Tư vấn khách hàng, giới thiệu sản phẩm của côn...","1,000,000 - 5,000,000",Không yêu cầu kinh nghiệm,0.002167
1,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Cộng tác viên Nhập liệu tại văn phòng,Công ty CP Công nghệ Phần mềm và Nội dung số OSP,Công nghệ thông tin,"Nhập Liệu, Văn Thư/Lưu Trữ, Thư Viện","Tầng 4, Tòa Garden Hill, Số 99 Trần Bình",Kỹ năng chuyên môn hoặc kỹ năng mềm cần thiết ...,Nhập dữ liệu hộ tịch trên excelĐược hướng dẫn ...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.002169
2,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên chăm sóc khách hàng,Công Ty Cổ Phần VFL INVEST,Bất động sản,Bán Hàng Qua Điện Thoại (Telesale),"169 Nguyễn Ngọc Vũ, Trung Hoà, Cầu Giấy, Hà Nội","Không yêu cầu kinh nghiệm, chưa có sẽ được cầm...",Gọi điện tìm kiếm khách hàng từ những nguồn da...,"5,000,000 - 10,000,000",Không yêu cầu kinh nghiệm,0.002355
3,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên đóng gói theo giờ,Công Ty Cổ Phần Gbc Global,Kinh doanh,"Phụ Kho, Công Nhân","Biệt thự Khu đô thị Văn Phú, Hà Đông, Hà Nội","Cẩn thận, tỉ mỉ, trung thực và có trách nhiệm ...",Đóng gói giỏ hàng Tết. Thực hiện công việc đón...,Thỏa thuận,Không yêu cầu kinh nghiệm,0.002609
4,964342,Nguyễn Hồng Duyên,Hành chính - Văn phòng,22,Nhân viên tư vấn bán hàng part time,Công Ty TNHH Thương Mại Dịch Vụ Công Nghệ Dược...,kinh doanh,"Tư Vấn Bán Hàng, Bán Lẻ","quận Gò Vấp, Hồ Chí Minh","Nam/Nữ Từ 18 – 35 tuổi, có đam mê và nhiệt huy...","Tư vấn khách hàng, giới thiệu sản phẩm của côn...","1,000,000 - 5,000,000",Không yêu cầu kinh nghiệm,0.002765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,973260,Lê Thanh,Vận tải - Lái xe,24,Trưởng Phòng mua hàng nội địa (Công ty Cơ điện),Công Ty Cổ Phần T.T.S.C,Cơ khí/Máy móc/Thiết bị công nghiệp,"Quản Lý, Theo Dõi Đơn Hàng, Purchasing, Cung Ứ...",VP 219 Trung Kính - Cầu Giấy - Hà Nội,Ứng viên có tối thiểu 2 năm làm việc tại vị tr...,"Điều hành, quản lý nhân viên trong phòng thực ...","15,000,000 - 20,000,000",1-3 năm,0.003386
196,973260,Lê Thanh,Vận tải - Lái xe,24,Nhân Viên Setting Máy CNC - Làm việc tại Thái ...,Công ty Cổ Phần Hyundai Aluminum vina,Sản xuất,"Chạy máy CNC, Làm Việc Theo Quy Trình, Lập Trì...","Khu Công Nghiệp Điềm Thụy Thái Nguyên, Phú Bìn...","Nam, tốt nghiệp Trung cấp, Cao đẳng hoặc Đại h...","Thực hiện cài đặt và vận hành máy CNC, đảm bảo...","Trên 40,000,000",1-3 năm,0.003408
197,973260,Lê Thanh,Vận tải - Lái xe,24,"Nhân viên bán hàng tại Tân Bình Part-time, Thờ...",Công Ty Cổ Phần Crystal Shine,Kinh Doanh,"Tư Vấn Bán Hàng, Bán Lẻ",Tân Bình,*Nam nữ từ 1825 tuổi. *Có CCCD gốc. *Tốt nghiệ...,[ Shyne Store ] [ Tuyển dụng ] Nhân viên bán h...,"1,000,000 - 5,000,000",Dưới 1 năm,0.003461
198,973260,Lê Thanh,Vận tải - Lái xe,24,Thực tập sinh tuyển dụng (Mạnh về thiết kế),Công ty Cổ phần Dược phẩm ECO,Y tế,"Tuyển Dụng (HR), Hành chính Văn phòng","198 Hoàng Văn Thụ, P. 9, Quận Phú Nhuận","Ngoại hình dễ nhìn, năng động;. Có laptop cá n...",Phát triển thương hiệu tuyển dụng ( thiết kế c...,"1,000,000 - 5,000,000",Không yêu cầu kinh nghiệm,0.003495
199,973260,Lê Thanh,Vận tải - Lái xe,24,Công ty TNHH sản xuất nhôm Trường Thành cần tu...,Công Ty TNHH Sản Xuất Nhôm Trường Thành,Sản xuất/Vận hành sản xuất,"Vận Hành Sản Xuất, Tư Vấn Bán Hàng","Lô CN 1B, cụm CN Quất Động, Thường Tín, Hà Nội",Bắt buộc biết lái xe ( có bằng B2). Có kinh ng...,"Đi phát triển kênh phân phối bán buôn, bán lẻ....",Thỏa thuận,1-3 năm,0.003509

In [262]:
skill_recommendation_results.to_csv("results/xlm_roberta/skill_recommendation_results.csv", index=False)
industry_recommendation_results.to_csv("results/xlm_roberta/industry_recommendation_results.csv", index=False)
address_recommendation_results.to_csv("results/xlm_roberta/address_recommendation_results.csv", index=False)
job_title_recommendation_results.to_csv("results/xlm_roberta/job_title_recommendation_results.csv", index=False)
combined_recommendation_results.to_csv("results/xlm_roberta/combined_recommendation_results.csv", index=False)